Repository mlrun/mlrun, pull requests merged in 2023-03, with the labels that each got.

#3214 [Nuclio] Deprecate nuclio dashboard url
  mlrun/__main__.py
  mlrun/projects/operations.py
  mlrun/projects/project.py
  mlrun/runtimes/function.py
  mlrun/runtimes/serving.py
Labels: 1.3.0

#3213 [HTTP] Make retryable HTTP client more resilient to errors
  mlrun/db/httpdb.py
  mlrun/utils/http.py
  tests/rundb/test_unit_httpdb.py
Labels: 1.3.0

#3216 [Test] Update run from context
  mlrun/execution.py
  tests/common_fixtures.py
  tests/run/test_run.py
Labels: 1.3.0

#3301 [Docs] Add ML-3633 to Change log > Open issues
  docs/change-log/index.md
  docs/cheat-sheet.md
  docs/install/remote.md
Labels: 1.3.0

#3302 [Doc] Jobs and workflows
  docs/concepts/scheduled-jobs.md
Labels: 1.3.0

#3306 [Docs] Add Python 3.7 model for SciKit-Learn
  docs/tutorial/03-model-serving.ipynb
  docs/tutorial/05-model-monitoring.ipynb
  docs/tutorial/07-batch-infer.ipynb
Labels: 1.3.0

#3311 [HTTPDB] Replace invalid utf-8 characters on watch logs
  mlrun/config.py
  mlrun/db/httpdb.py
  tests/rundb/test_httpdb.py
Labels: 1.3.0

#3283 [Docs] Bump MLRun Versions For Release
  dockerfiles/README.md
  docs/cli.md
  docs/install/compose.with-jupyter.yaml
  docs/install/compose.yaml
  docs/projects/ci-integration.md
  docs/runtimes/images.md
  hack/local/README.md
  hack/local/mljupy.yaml
  hack/local/mlrun-local.yaml
  hack/mlrun-all.yaml
  hack/mlrunapi.yaml
  hack/mlrunui.yaml
Labels: 1.3.0

#3055 [Feature Store] get_offline_features over relations: add support for spark retrieval engine
  mlrun/data_types/__init__.py
  mlrun/data_types/data_types.py
  mlrun/feature_store/api.py
  mlrun/feature_store/feature_set.py
  mlrun/feature_store/feature_vector.py
  mlrun/feature_store/retrieval/base.py
  mlrun/feature_store/retrieval/dask_merger.py
  mlrun/feature_store/retrieval/job.py
  mlrun/feature_store/retrieval/local_merger.py
  mlrun/feature_store/retrieval/spark_merger.py
  mlrun/features.py
  tests/api/runtimes/test_spark.py
  tests/system/feature_store/test_feature_store.py
  tests/system/feature_store/test_spark_engine.py
Labels: 1.3.1

#3261 [Frontend Spec] Add allowed artifact path prefixes list to frontend spec
  mlrun/api/api/endpoints/frontend_spec.py
  mlrun/api/api/utils.py
  mlrun/api/schemas/frontend_spec.py
  tests/api/api/test_frontend_spec.py
Labels: 1.3.1

#3268 [Project] Remove unused legacy methods
  mlrun/projects/project.py
Labels: 1.3.1

#3275 [Spark] Block pull source at runtime
  mlrun/runtimes/sparkjob/abstract.py
  tests/api/runtimes/test_spark.py
Labels: 1.3.1

#3296 [Nuclio] `with_service_type` SDK
  mlrun/runtimes/function.py
  mlrun/runtimes/serving.py
  tests/api/runtimes/test_nuclio.py
Labels: 1.3.1

#3303 [Models] Add mpi4py requirement
  dockerfiles/models/requirements.txt
  tests/system/runtimes/test_mpijob.py
Labels: 1.3.1

#3308 [Context] Fix failed to import a context from dict
  mlrun/execution.py
  tests/run/test_run.py
Labels: 1.3.1

#3310 [API] Allow sorting pipelines when specifying project
  mlrun/api/crud/pipelines.py
  mlrun/db/httpdb.py
Labels: 1.3.1

#3286 [Schedule] Update type hints for ScheduleCronTrigger to avoid unexpected pydantic behaviour
  mlrun/api/schemas/schedule.py
Labels: 1.3.1

#3319 [Models] Set CFLAGS before requirements installation [1.3.x]
  dockerfiles/models/Dockerfile
Labels: 1.3.1

#3287 [Project] Fix function name isn't treated uniformly
  mlrun/projects/project.py
  tests/projects/test_project.py
Labels: 1.4.0

#3336 [API] Reflect correct message wen waiting for chief
  mlrun/api/api/deps.py
  mlrun/api/schemas/constants.py
  tests/api/test_api_states.py
Labels: 1.4.0, 1.3.1

#2867 [DB] Remove FileDB
  .gitignore
  Makefile
  mlrun/api/db/filedb/__init__.py
  mlrun/api/db/filedb/db.py
  mlrun/api/db/session.py
  mlrun/api/utils/singletons/db.py
  mlrun/config.py
  mlrun/db/__init__.py
  mlrun/db/filedb.py
  mlrun/db/nopdb.py
  mlrun/db/sqldb.py
  tests/api/db/conftest.py
  tests/api/db/test_artifacts.py
  tests/api/db/test_background_tasks.py
  tests/api/db/test_feature_sets.py
  tests/api/db/test_functions.py
  tests/api/db/test_projects.py
  tests/api/db/test_runs.py
  tests/artifacts/test_artifacts.py
  tests/artifacts/test_model.py
  tests/common_fixtures.py
  tests/feature-store/test_infer.py
  tests/feature-store/test_steps.py
  tests/frameworks/lgbm/test_lgbm.py
  tests/frameworks/test_ml_frameworks.py
  tests/integration/sdk_api/artifacts/test_artifacts.py
  tests/integration/sdk_api/base.py
  tests/integration/sdk_api/httpdb/runs/__init__.py
  tests/integration/sdk_api/httpdb/runs/assets/big-run.json
  tests/integration/sdk_api/httpdb/runs/test_dask.py
  tests/integration/sdk_api/httpdb/runs/test_runs.py
  tests/integration/sdk_api/projects/test_project.py
  tests/integration/sdk_api/run/test_main.py
  tests/projects/test_local_pipeline.py
  tests/projects/test_project.py
  tests/run/test_handler_decorator.py
  tests/run/test_hyper.py
  tests/run/test_main.py
  tests/run/test_run.py
  tests/rundb/test_dbs.py
  tests/rundb/test_filedb.py
  tests/rundb/test_nopdb.py
  tests/runtimes/test_logging_and_parsing.py
  tests/serving/test_serving.py
  tests/test_code_to_func.py
  tests/test_datastores.py
  tests/test_notebooks.py
Labels: 1.4.0

#3344 [API] Fail `healthz` requests when offline / waiting for chief
  mlrun/api/api/endpoints/healthz.py
  mlrun/errors.py
  tests/api/api/test_healthz.py
  tests/api/test_api_states.py
Labels: 1.4.0

#3193 [Extras] Add avro for kafka
  dependencies.py
  extras-requirements.txt
Labels: 1.4.0
