Repository mlrun/mlrun, pull requests merged in 2025-08, with the labels that each got.

#8419 [Bugfix] Add missing schema for function retry
  mlrun/common/schemas/function.py
Labels: area/sdk

#8421 [Deprecations] Fix removal version
  mlrun/platforms/__init__.py
  tests/runtimes/test_mounts.py
Labels: area/sdk, area/tests

#8427 [Python] Fix determining the image version to run
  server/py/framework/utils/helpers.py
  server/py/services/api/tests/unit/utils/test_helpers.py
  server/py/services/api/utils/builder.py
Labels: area/server, area/api, area/framework

#8429 [Bugfix] Fix log-collector docker build
  server/common/Makefile
Labels: area/server

#8403 [RemoteModels] Support returning stats for ModelProvider.invoke
  mlrun/datastore/model_provider/huggingface_provider.py
  mlrun/datastore/model_provider/model_provider.py
  mlrun/datastore/model_provider/openai_provider.py
  mlrun/serving/states.py
  mlrun/utils/helpers.py
  tests/datastore/remote_model/remote_model_utils.py
  tests/datastore/remote_model/test_huggingface.py
  tests/integration/model_providers/huggingface/test_huggingface.py
  tests/integration/model_providers/openai/test_openai.py
  tests/serving/test_tracking.py
  tests/system/datastore/model_providers/test_huggingface.py
  tests/system/datastore/model_providers/test_openai.py
  tests/utils/test_helpers.py
Labels: area/sdk, area/tests, area/system-tests

#8431 [Deprecations] Remove the warning when using underscores
  mlrun/launcher/base.py
  mlrun/model_monitoring/applications/base.py
  mlrun/utils/helpers.py
  server/py/services/api/crud/hub.py
Labels: area/sdk, area/server, area/api

#8425 [Bugfix] Properly mask DB DSN in logs
  server/py/framework/utils/db/dsn.py
  server/py/framework/utils/singletons/db.py
  server/py/services/api/tests/unit/utils/singletons/test_db_utils.py
Labels: area/server, area/api, area/framework

#8418 [Model Monitoring] batch inference fails with 'StatementError('(builtins.ValueError) badly formed hexadecimal UUID string')'
  mlrun/db/httpdb.py
  mlrun/model_monitoring/api.py
  tests/system/alerts/test_alerts.py
  tests/system/model_monitoring/test_model_monitoring.py
Labels: area/sdk, area/tests, area/system-tests

#8434 [Docs] fix genai_01 collection my_news does not exist issue for PMCK
  docs/tutorials/genai_01_basic_tutorial.ipynb
  docs/tutorials/src/build-vector-db.py
  docs/tutorials/src/serving.py
Labels: area/docs

#8436 [Deprecations] Remove mlrun/api/schemas/ folder
  mlrun/api/schemas/__init__.py
  server/py/services/api/tests/unit/api/test_pipelines.py
Labels: area/sdk, area/server, area/api

#8412 [Model Monitoring] Fix support for processing of legacy offline model endpoints
  mlrun/common/schemas/model_monitoring/constants.py
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/db/httpdb.py
  mlrun/model_monitoring/api.py
  mlrun/model_monitoring/controller.py
  mlrun/projects/project.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/db/sqldb/models.py
  server/py/services/api/api/endpoints/model_endpoints.py
  server/py/services/api/crud/model_monitoring/deployment.py
  server/py/services/api/crud/model_monitoring/model_endpoints.py
  server/py/services/api/migrations/versions/31d54cd9ff11_update_parent_artifact_deletion.py
  tests/model_monitoring/test_helpers.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8446 [Datastore] Remove deprecated 'list_features' method
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/feature_store.py
  server/py/services/api/crud/feature_store.py
  server/py/services/api/tests/unit/db/test_feature_sets.py
  tests/integration/sdk_api/httpdb/test_feature_store.py
  tests/rundb/test_httpdb.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests

#8416 [Bugfix] Properly validate user supplied paths in import_function_to_dict
  mlrun/run.py
Labels: area/sdk

#8451 [Docs] fix missing backports.tarfile installation for PMCK
  docs/tutorials/genai-03-vector-db.ipynb
Labels: area/docs

#8450 [Serving] Fix ModelSelector serialization
  mlrun/serving/states.py
  tests/serving/test_async_flow.py
  tests/system/runtimes/assets/function_with_model.py
  tests/system/runtimes/test_nuclio.py
Labels: area/sdk, area/tests, area/system-tests

#8458 [Serving-LLM] add logs to `LLModels`
  mlrun/serving/states.py
Labels: area/sdk

#8464 [LLM-Serving] Restrict `prompt_template` to have only `content` & `role` keys
  mlrun/artifacts/llm_prompt.py
  mlrun/serving/states.py
  tests/artifacts/test_llm_prompts.py
  tests/serving/test_async_flow.py
Labels: area/sdk, area/tests

#8490 [Makefile] Include go services
  Makefile
  server/go/Makefile
Labels: area/server

#8489 [Hub] Update reference links in docs
  docs/deployment/batch_inference.ipynb
  docs/feature-store/end-to-end-demo/02-create-training-model.ipynb
  docs/feature-store/training-serving.md
  docs/genai/data-mgmt/unstructured-data.md
  docs/serving/custom-model-serving-class.md
  docs/serving/test-deploy-model-server.md
  docs/serving/use-cases.md
  docs/training/built-in-training-function.ipynb
  docs/tutorials/06-batch-infer.ipynb
Labels: area/docs

#8481 [Artifacts] Add validation in ModelArtifact init for conflicting attributes
  mlrun/artifacts/model.py
  tests/artifacts/test_artifacts.py
Labels: area/sdk, area/tests

#8497 [Docs] Fix `05-model-monitoring.ipynb` to fix CI
  docs/tutorials/05-model-monitoring.ipynb
Labels: area/docs

#8494 [Requirements] Fix protobuf version in mlrun-kfp
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  requirements.txt
  tests/test_requirements.py
Labels: area/tests

#8499 [CI] Increase system tests waiting time for 3 hours
  .github/workflows/system-tests-enterprise.yml
  .github/workflows/system-tests-opensource.yml
Labels: area/ci

#8477 [Model Monitoring] Fix function summary API including fixing app name
  docs/tutorials/src/evidently_app.py
  mlrun/common/schemas/model_monitoring/functions.py
  server/py/services/api/api/endpoints/model_monitoring.py
  server/py/services/api/crud/model_monitoring/deployment.py
  tests/system/model_monitoring/test_app.py
Labels: area/docs, area/sdk, area/server, area/api, area/tests, area/system-tests

#8501 [requirements] bump storey
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  requirements.txt
  tests/test_requirements.py
Labels: area/tests

#8506 [Serving] FIx function plot after deployment
  mlrun/serving/states.py
Labels: area/sdk

#8500 [API] Moved system id sync to online phase
  server/py/framework/service/__init__.py
  server/py/services/api/main.py
Labels: area/server, area/api, area/framework, area/alerts

#8511 [Serving] Fix `PicklingError` in job with `ModelRunnerStep`
  mlrun/serving/server.py
  tests/system/runtimes/assets/in.csv
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/tests, area/system-tests

#8476 [Runs] Prevent serialization issues from V1 Kubernetes objects in run objects
  automation/system_test/prepare.py
  mlrun/k8s_utils.py
  server/py/services/api/launcher.py
  server/py/services/api/runtime_handlers/daskjob.py
  server/py/services/api/runtime_handlers/sparkjob/spark3job.py
  server/py/services/api/tests/unit/runtimes/base.py
  server/py/services/api/tests/unit/runtimes/test_dask.py
  server/py/services/api/tests/unit/runtimes/test_kubejob.py
  server/py/services/api/tests/unit/runtimes/test_spark.py
  tests/system/projects/test_project.py
Labels: area/automation, area/sdk, area/server, area/api, area/tests, area/system-tests

#8504 [Serving] Fix usage of LLModel as shared model
  mlrun/datastore/datastore.py
  mlrun/datastore/model_provider/mock_model_provider.py
  mlrun/serving/states.py
  tests/serving/test_async_flow.py
  tests/serving/test_tracking.py
  tests/system/model_monitoring/assets/models.py
  tests/system/model_monitoring/test_model_monitoring.py
Labels: area/sdk, area/tests, area/system-tests

#8517 [BackgroundTasks] Disable auto-cleanups
  mlrun/config.py
Labels: area/sdk

#8507 [Nuclio] Add project role when creating project in Nuclio
  server/py/framework/utils/clients/helpers.py
  server/py/framework/utils/clients/iguazio.py
  server/py/framework/utils/clients/nuclio.py
  server/py/services/api/tests/unit/utils/clients/test_nuclio.py
Labels: area/server, area/api, area/framework

#8513 [Application] Add missing params to ApplicationSpec
  mlrun/runtimes/nuclio/application/application.py
  tests/runtimes/test_pod.py
Labels: area/sdk, area/tests
