Repository mlrun/mlrun, pull requests merged in 2025-06, with the labels that each got.

#8039 [Datastore] Fix S3 profile with bucket as part of the url
  mlrun/datastore/datastore_profile.py
  tests/integration/aws_s3/test_aws_s3.py
Labels: area/sdk, area/tests

#8036 [Project Summaries] Add Artifact counters by category
  mlrun/common/schemas/project.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/services/api/crud/projects.py
  server/py/services/api/tests/unit/utils/projects/test_follower_member.py
Labels: area/sdk, area/server, area/api, area/framework

#8012 [ModelMonitoring] Fix remote model provider messages and docs
  mlrun/artifacts/model.py
  mlrun/serving/states.py
Labels: area/sdk

#8051 [Artifacts] Allow partial filtering over parent name and parent tag
  server/py/framework/db/sqldb/db.py
  server/py/services/api/tests/unit/db/test_artifacts.py
  tests/system/api/test_artifacts.py
Labels: area/server, area/api, area/framework, area/tests, area/system-tests

#8052 [Deprecations] Remove `FunctionSpec.clone_target_dir`
  mlrun/runtimes/base.py
  mlrun/runtimes/daskjob.py
  mlrun/runtimes/databricks_job/databricks_runtime.py
  mlrun/runtimes/mpijob/abstract.py
  mlrun/runtimes/mpijob/v1.py
  mlrun/runtimes/nuclio/application/application.py
  mlrun/runtimes/nuclio/function.py
  mlrun/runtimes/nuclio/serving.py
  mlrun/runtimes/pod.py
  mlrun/runtimes/remotesparkjob.py
  mlrun/runtimes/sparkjob/spark3job.py
  server/py/services/api/api/endpoints/functions.py
  server/py/services/api/tests/unit/api/test_functions.py
  server/py/services/api/tests/unit/utils/test_builder.py
  server/py/services/api/utils/builder.py
  tests/common_fixtures.py
  tests/projects/test_project.py
Labels: PR title format, area/sdk, area/server, area/api, area/tests

#8053 [Datastore] Add bucket as mandatory variable to s3 profile
  mlrun/datastore/datastore_profile.py
Labels: area/sdk

#8031 [Deprecations] Initial deprecation of mlrun/ml-base image
  dockerfiles/mlrun/requirements.txt
  mlrun/config.py
  mlrun/launcher/client.py
  mlrun/runtimes/daskjob.py
  mlrun/utils/helpers.py
  server/py/services/api/runtime_handlers/daskjob.py
  server/py/services/api/tests/unit/api/test_client_spec.py
  server/py/services/api/tests/unit/runtimes/test_dask.py
  server/py/services/api/tests/unit/utils/test_builder.py
  tests/system/examples/dask/test_dask.py
  tests/system/feature_store/test_feature_store.py
  tests/utils/test_helpers.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8018 [Datastore] Make TDEngine connector thread safe
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connection.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
Labels: area/sdk

#8060 [Pipelines] Don't enrich workflow runner with project default image
  mlrun/projects/project.py
  server/py/services/api/tests/unit/api/test_utils.py
  server/py/services/api/utils/helpers.py
  tests/system/projects/test_project.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8044 [Model Monitoring] Fix `app_flow` test
  tests/system/model_monitoring/test_app.py
Labels: area/tests, area/system-tests

#8068 [Requirements] Bump storey
  dockerfiles/base/locked-requirements.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  requirements.txt
  tests/test_requirements.py
Labels: area/tests

#8071 [CI] Report seconds duration
  tests/system/conftest.py
Labels: area/tests, area/system-tests

#8069 [Docs] Update llms.txt to be generated for stable version only
  docs/conf.py
Labels: area/docs

#8043 [Serving] Implement serving graph as a job
  mlrun/launcher/base.py
  mlrun/launcher/client.py
  mlrun/launcher/local.py
  mlrun/runtimes/daskjob.py
  mlrun/runtimes/kubejob.py
  mlrun/runtimes/mpijob/abstract.py
  mlrun/runtimes/mpijob/v1.py
  mlrun/runtimes/nuclio/function.py
  mlrun/runtimes/nuclio/serving.py
  mlrun/runtimes/pod.py
  mlrun/runtimes/remotesparkjob.py
  mlrun/runtimes/sparkjob/spark3job.py
  mlrun/serving/server.py
  server/py/services/api/api/endpoints/nuclio.py
  server/py/services/api/crud/runtimes/nuclio/function.py
  server/py/services/api/launcher.py
  server/py/services/api/tests/unit/runtimes/test_nuclio.py
  server/py/services/api/tests/unit/runtimes/test_serving.py
  server/py/services/api/utils/functions.py
  tests/launcher/assets/custom_classes.py
  tests/launcher/assets/input.csv
  tests/launcher/test_local.py
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8075 [Docs] Delete ML-8064 from open issues in change log
  docs/change-log/index.md
Labels: area/docs

#8063 [Model Monitoring] Connect evaluate to the writer
  mlrun/model_monitoring/applications/_application_steps.py
  mlrun/model_monitoring/applications/base.py
  mlrun/model_monitoring/helpers.py
  tests/model_monitoring/test_applications/test_base.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/tests, area/system-tests

#8091 [Serving] Fix Nuclio serving spec breakage
  server/py/services/api/crud/runtimes/nuclio/function.py
  server/py/services/api/launcher.py
Labels: area/server, area/api

#8082 [Deprecations] Remove deprecation warning for the artifacts constructor parameter
  docs/change-log/index.md
  mlrun/artifacts/base.py
  mlrun/artifacts/dataset.py
  mlrun/artifacts/model.py
  mlrun/artifacts/plots.py
Labels: area/docs, area/sdk

#8108 Revert "[Datastore] Remove deprecated 'list_features' method (#8093)"
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/feature_store.py
  server/py/services/api/crud/feature_store.py
  server/py/services/api/tests/unit/db/test_feature_sets.py
  tests/integration/sdk_api/httpdb/test_feature_store.py
  tests/rundb/test_httpdb.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests

#8107 [Pipelines] Bump Pipelines common version to 0.4.4 [1.9.x]
  dockerfiles/base/locked-requirements.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  requirements.txt
Labels: area/docs, area/automation, area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests, area/pipeline-adapters, area/ci

#8113 [Tests] Fix run updated time and end time verification (#8110)
  tests/system/runtimes/test_notifications.py
Labels: area/tests, area/system-tests

#8115 [Workflows] Add workflow ID label to workflow runner RunObject after workflow creation
  mlrun/projects/pipelines.py
  tests/system/projects/test_project.py
Labels: area/sdk, area/tests, area/system-tests

#8111 [Test] Fix setting workflow image
  tests/system/projects/test_project.py
Labels: area/tests, area/system-tests

#8120 [Model Monitoring] Fix offline inference test by extending the wait time
  tests/system/model_monitoring/test_app.py
Labels: area/tests, area/system-tests

#8127 [Pipelines] Use correct requirement for kfp_server_api
  pipeline-adapters/mlrun-pipelines-kfp-common/pyproject.toml
Labels: area/pipeline-adapters

#8128 [Grafana] Update Model Monitoring Dashboards for Grafana 11 Compatibility [1.9.x]
  docs/model-monitoring/dashboards/model-monitoring-applications.json
  docs/model-monitoring/dashboards/model-monitoring-details.json
  docs/model-monitoring/dashboards/model-monitoring-overview.json
  docs/model-monitoring/dashboards/model-monitoring-performance.json
Labels: 1.9.0

#8059 [API/Kubejob] Retry jobs controller [feature/retry-job]
  mlrun/__main__.py
  mlrun/common/runtimes/constants.py
  mlrun/config.py
  mlrun/execution.py
  mlrun/launcher/base.py
  mlrun/model.py
  mlrun/runtimes/base.py
  mlrun/runtimes/local.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/tests/unit/common_fixtures.py
  server/py/framework/utils/helpers.py
  server/py/schemas/__init__.py
  server/py/schemas/proto/__init__.py
  server/py/services/api/launcher.py
  server/py/services/api/main.py
  server/py/services/api/runtime_handlers/base.py
  server/py/services/api/tests/unit/runtime_handlers/base.py
  server/py/services/api/tests/unit/runtime_handlers/test_kubejob.py
  server/py/services/api/tests/unit/test_service.py
  tests/run/test_run.py
  tests/system/runtimes/test_kubejob.py
  tests/test_execution.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8029 [Model Monitoring] Connect `ModelRunnerStep` to Model Monitoring
  docs/api/mlrun.serving/index.rst
  mlrun/common/schemas/model_monitoring/__init__.py
  mlrun/common/schemas/model_monitoring/constants.py
  mlrun/common/schemas/serving.py
  mlrun/config.py
  mlrun/runtimes/nuclio/serving.py
  mlrun/serving/__init__.py
  mlrun/serving/server.py
  mlrun/serving/states.py
  mlrun/serving/system_steps.py
  tests/serving/test_async_flow.py
  tests/serving/test_tracking.py
  tests/system/model_monitoring/assets/models.py
  tests/system/model_monitoring/test_app.py
Labels: area/docs, area/sdk, area/tests, area/system-tests

#8013 [Pipelines] Add ability to terminate pipelines
  automation/scripts/clean_pipelines/clean_pipelines.py
  mlrun/__init__.py
  mlrun/common/schemas/background_task.py
  mlrun/config.py
  mlrun/db/httpdb.py
  mlrun/projects/pipelines.py
  mlrun/run.py
  mlrun/utils/helpers.py
  pipeline-adapters/mlrun-pipelines-kfp-common/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-common/src/mlrun_pipelines/common/client.py
  pipeline-adapters/mlrun-pipelines-kfp-common/src/mlrun_pipelines/common/models.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/client.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/imports.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/utils.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/tests/test_utils.py
  pipeline-adapters/mlrun-pipelines-kfp-v2/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-v2/src/mlrun_pipelines/client.py
  server/py/framework/api/utils.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/db/sqldb/models.py
  server/py/framework/utils/background_tasks/kinds.py
  server/py/framework/utils/background_tasks/project.py
  server/py/framework/utils/periodic.py
  server/py/services/api/api/endpoints/functions.py
  server/py/services/api/api/endpoints/pipelines.py
  server/py/services/api/api/endpoints/runs.py
  server/py/services/api/crud/model_monitoring/deployment.py
  server/py/services/api/crud/pipelines.py
  server/py/services/api/main.py
  server/py/services/api/migrations/versions/d8f7c6b5a4e3_add_background_task_labels.py
  server/py/services/api/tests/unit/api/test_background_tasks.py
  server/py/services/api/tests/unit/api/test_pipelines.py
  server/py/services/api/tests/unit/api/test_projects.py
  server/py/services/api/tests/unit/conftest.py
  server/py/services/api/tests/unit/db/test_background_tasks.py
  server/py/services/api/utils/db/alembic.py
  tests/system/runtimes/test_kfp.py
Labels: area/automation, area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests, area/pipeline-adapters

#8121 [Deprecation] Warn on usage of deprecated ml-base image in both client and runtime
  mlrun/launcher/base.py
  mlrun/launcher/client.py
  mlrun/utils/helpers.py
Labels: area/sdk

#8139 [Project] Skip source archive setup when source is db
  mlrun/projects/project.py
  tests/projects/test_project.py
Labels: area/sdk, area/tests

#8137 [Test] Refactor get obj path test
  server/py/services/api/tests/unit/api/test_utils.py
Labels: area/server, area/api

#8074 [Docs] Updates: Python 3.11 and change log for V1.9.0
  docs/change-log/index.md
  docs/conf.py
  docs/install/aws-install.md
  docs/install/remote.md
  docs/model-monitoring/applications.md
  docs/model-monitoring/index.md
  docs/runtimes/images.md
  docs/training/working-with-data-and-model-artifacts.md
  docs/tutorials/genai-03-vector-db.ipynb
Labels: area/docs

#8148 [Scripts] Fix mlrun-kfp using patch remote script
  automation/patch_igz/patch_remote.py
Labels: area/automation

#8150 [Tools] patch_remote script improvements
  automation/patch_igz/patch_remote.py
Labels: area/automation

#8149 [Pipelines] Fix pipeline arg validation
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/client.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/tests/test_utils.py
Labels: area/pipeline-adapters

#8146 [Docs] Update the documentation by adding a link to the commit activity icon
  README.md
Labels: area/docs

#8117 [Datastore] Remove deprecated 'list_features' method
  server/py/services/api/tests/unit/api/feature_store/test_feature_sets.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests

#8143 [Workflows] Add allow cross project flag to workflow runner
  mlrun/projects/pipelines.py
  tests/system/projects/test_project.py
Labels: area/sdk, area/tests, area/system-tests

#8158 [Pipelines] Add terminating state to terminable statuses to return existing task id
  pipeline-adapters/mlrun-pipelines-kfp-common/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-common/src/mlrun_pipelines/common/models.py
Labels: area/pipeline-adapters

#8155 [Frameworks] Update code for Horovod with keras3
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  mlrun/frameworks/tf_keras/mlrun_interface.py
Labels: area/sdk, area/tests

#8164 [Frameworks] keras3 model file name validation
  mlrun/frameworks/tf_keras/model_handler.py
Labels: area/sdk

#8174 [Docs] Update remote workflow with image example
  docs/concepts/local-remote.md
Labels: area/docs

#8157 [API] Paginate list runs on retry jobs periodic [feature/retry-job]
  server/py/services/api/main.py
  server/py/services/api/tests/unit/test_service.py
Labels: area/server, area/api

#8179 [Tests] Fix v3io_test teardown
  tests/system/datastore/test_v3io.py
Labels: area/tests, area/system-tests

#8180 [API] Remove redundant runs check
  server/py/services/api/main.py
Labels: area/server, area/api

#8100 [Package] Build and publish the `mlrun` Python package with uv
  .github/workflows/release.yaml
  .gitignore
  .python-version
  MANIFEST.in
  Makefile
  dev-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  pyproject.toml
Labels: area/ci

#8189 [Docs] Remove docker compose leftovers
  docs/install/compose.with-jupyter.yaml
  docs/install/compose.yaml
Labels: area/docs

#8190 [Tests] Fix `TestMonitoredServings::test_different_kind_of_serving`
  tests/system/model_monitoring/test_app.py
Labels: area/tests, area/system-tests

#8203 [Frameworks] Fixes for ML-10270 and ML-10333
  mlrun/frameworks/tf_keras/mlrun_interface.py
  mlrun/frameworks/tf_keras/model_handler.py
Labels: area/sdk

#8210 [Model endpoints] Fix model endpoint uid parse as hex back from db
  server/py/framework/db/sqldb/db.py
  server/py/services/api/tests/unit/db/test_model_endpoint.py
Labels: area/server, area/api, area/framework

#8206 [Job] Fix retry status message [feature/retry-job]
  mlrun/runtimes/base.py
  server/py/services/api/main.py
  server/py/services/api/runtime_handlers/base.py
  server/py/services/api/tests/unit/runtime_handlers/base.py
  server/py/services/api/tests/unit/runtime_handlers/test_kubejob.py
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8202 [Package] Improve the build
  .github/workflows/release.yaml
  .github/workflows/upgrade-lock.yaml
  Makefile
  dependencies.py
  pyproject.toml
  setup.py
Labels: area/ci

#8196 [Pipelines] Add RerunRunner and basic rerun_workflow handler
  mlrun/common/constants.py
  mlrun/common/schemas/__init__.py
  mlrun/common/schemas/workflow.py
  mlrun/db/base.py
  mlrun/db/nopdb.py
  mlrun/projects/__init__.py
  mlrun/projects/pipelines.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/crud/__init__.py
  server/py/services/api/crud/workflows.py
Labels: area/sdk, area/server, area/api, area/framework

#8213 [Job] Fix reached max attempts test condition [feature/retry-job]
  mlrun/runtimes/base.py
  server/py/services/api/runtime_handlers/base.py
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8225 [Requirements] Temporarily pin storey version
  requirements.txt
  tests/test_requirements.py
Labels: area/tests

#8227 [Docs] Add databricks runtime to cheat-sheet.md
  docs/cheat-sheet.md
Labels: area/docs

#8229 [Notifications] Add retry information to final run notification message [feature/retry-job]
  mlrun/utils/notifications/notification_pusher.py
  tests/system/runtimes/test_notifications.py
  tests/utils/test_notifications.py
Labels: area/sdk, area/tests, area/system-tests

#8232 [Bugfix] Don't flood mlrun-chief log with "Failed to load kube config"
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/client.py
Labels: area/pipeline-adapters

#8233 [Artifacts] Fix Artifact Deletion by UID
  mlrun/artifacts/manager.py
  tests/integration/sdk_api/artifacts/test_artifacts.py
Labels: area/sdk, area/tests

#8183 [Serving] Allow `ModelRunnerStep:add_model` to get model_class as `Model` object
  mlrun/model.py
  mlrun/serving/states.py
  server/py/services/api/crud/model_monitoring/deployment.py
  tests/serving/test_async_flow.py
  tests/system/runtimes/test_nuclio.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests
