Repository mlrun/mlrun, pull requests merged in 2025-07, with the labels that each got.

#8240 [Datastore] Make Spark S3 credentials bucket aware
  mlrun/datastore/azure_blob.py
  mlrun/datastore/base.py
  mlrun/datastore/google_cloud_storage.py
  mlrun/datastore/s3.py
  mlrun/datastore/sources.py
  mlrun/datastore/targets.py
Labels: area/sdk

#8214 [Datastore] change get_or_create to be more flexible
  mlrun/datastore/base.py
  mlrun/datastore/datastore.py
Labels: area/sdk

#8235 [Serving] Added special plot for `ModelRunnerStep`
  mlrun/runtimes/nuclio/serving.py
  mlrun/serving/states.py
  tests/serving/test_tracking.py
Labels: area/sdk, area/tests

#8249 [Tests] Fix `test_app_flow` system test with `with_training_set=False`
  tests/system/model_monitoring/test_app.py
Labels: area/tests, area/system-tests

#8172 [Model Serving] Move execution mechanism from `Model` to `add_model`
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  mlrun/common/schemas/serving.py
  mlrun/serving/states.py
  requirements.txt
  tests/serving/test_async_flow.py
  tests/serving/test_tracking.py
  tests/system/model_monitoring/assets/models.py
  tests/system/model_monitoring/test_model_monitoring.py
  tests/system/runtimes/assets/function-with-catcher.py
  tests/system/runtimes/assets/function_with_model.py
  tests/system/runtimes/test_nuclio.py
  tests/test_requirements.py
Labels: area/sdk, area/tests, area/system-tests

#8209 [Serving] Implement serving graph as a job
  mlrun/launcher/base.py
  mlrun/launcher/client.py
  mlrun/launcher/local.py
  mlrun/runtimes/daskjob.py
  mlrun/runtimes/kubejob.py
  mlrun/runtimes/mpijob/abstract.py
  mlrun/runtimes/mpijob/v1.py
  mlrun/runtimes/nuclio/function.py
  mlrun/runtimes/nuclio/serving.py
  mlrun/runtimes/pod.py
  mlrun/runtimes/remotesparkjob.py
  mlrun/runtimes/sparkjob/spark3job.py
  mlrun/serving/server.py
  server/py/services/api/api/endpoints/nuclio.py
  server/py/services/api/crud/runtimes/nuclio/function.py
  server/py/services/api/launcher.py
  server/py/services/api/tests/unit/runtimes/test_nuclio.py
  server/py/services/api/tests/unit/runtimes/test_serving.py
  server/py/services/api/utils/functions.py
  tests/launcher/assets/custom_classes.py
  tests/launcher/assets/input.csv
  tests/launcher/test_local.py
  tests/system/runtimes/assets/function_with_simple_transformation.py
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8248 [Launcher] Skip retried runs that were aborted or deleted
  server/py/services/api/launcher.py
  server/py/services/api/tests/unit/test_launcher.py
Labels: area/server, area/api

#8241 [Model Monitoring] Add `function-summary` API
  mlrun/common/schemas/model_monitoring/__init__.py
  mlrun/common/schemas/model_monitoring/functions.py
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/helpers.py
  mlrun/projects/project.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/model_monitoring.py
  server/py/services/api/crud/model_monitoring/deployment.py
  tests/model_monitoring/db/tsdb/tdengine/test_tdengine_connector.py
  tests/model_monitoring/test_helpers.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8239 [Pipelines] Enhance retry pipeline API to create RerunRunner for remote workflow retries
  mlrun/common/constants.py
  mlrun/common/schemas/workflow.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/execution.py
  mlrun/projects/pipelines.py
  server/py/services/api/api/endpoints/pipelines.py
  server/py/services/api/crud/pipelines.py
  server/py/services/api/crud/workflows.py
  server/py/services/api/tests/unit/api/test_pipelines.py
  server/py/services/api/utils/helpers.py
  tests/system/projects/test_project.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8251 [Dependencies] Move all sqlalchemy code to framework to prevent sqlachemy dependency in mlrun
  mlrun/db/__init__.py
  server/py/framework/db/sqldb/base.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/db/sqldb/models.py
  server/py/framework/db/sqldb/sql_types.py
  server/py/framework/utils/db/sql_types.py
  server/py/services/api/migrations/env.py
  server/py/services/api/migrations/versions/27ed4ecb734c_add_notification_reason.py
  server/py/services/api/migrations/versions/b268044fa2f7_adding_artifacts_v2_table.py
  server/py/services/api/migrations/versions/b86f5b53f3d7_adding_name_and_updated_to_runs_table.py
  server/py/services/api/migrations/versions/c4af40b0bf61_init.py
  tests/system/feature_store/test_sql_db.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8237 [Bugfix] MLRun K8S client raises an SSL error
  Makefile
  dev-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  server/py/framework/utils/singletons/k8s.py
  server/py/services/api/tests/integration/__init__.py
  server/py/services/api/tests/integration/k8s/__init__.py
  server/py/services/api/tests/integration/k8s/conftest.py
  server/py/services/api/tests/integration/k8s/test_k8s_client.py
Labels: area/server, area/api, area/framework

#8255 [Serving] Fix creating a child function or function contains `ModelRunnerStep`
  mlrun/serving/states.py
  tests/system/runtimes/assets/child_function.py
  tests/system/runtimes/test_nuclio.py
Labels: area/sdk, area/tests, area/system-tests

#8234 [DB] Finalize postgres support
  .gitignore
  server/py/framework/db/sqldb/sql_types.py
  server/py/framework/utils/db/mysql.py
  server/py/framework/utils/db/utils.py
  server/py/framework/utils/singletons/db.py
  server/py/services/api/initial_data.py
  server/py/services/api/migrations/tests/mysql/conftest.py
  server/py/services/api/migrations/tests/mysql/test_mysql_partitions.py
  server/py/services/api/migrations/tests/mysql/test_mysql_utils.py
  server/py/services/api/migrations/tests/postgres/conftest.py
  server/py/services/api/migrations/tests/postgres/test_postgres_partitions.py
  server/py/services/api/migrations/tests/postgres/test_postgres_utils.py
  server/py/services/api/tests/unit/test_api_states.py
  server/py/services/api/tests/unit/utils/db/test_dsn.py
  server/py/services/api/tests/unit/utils/db/test_mysql.py
  server/py/services/api/utils/db/backup.py
Labels: area/server, area/api, area/framework

#8159 [RemoteModel] Add ModelProvider infrastructure + openaiprovider
  .dockerignore
  mlrun/__init__.py
  mlrun/artifacts/base.py
  mlrun/artifacts/dataset.py
  mlrun/artifacts/llm_prompt.py
  mlrun/artifacts/model.py
  mlrun/config.py
  mlrun/datastore/__init__.py
  mlrun/datastore/alibaba_oss.py
  mlrun/datastore/azure_blob.py
  mlrun/datastore/base.py
  mlrun/datastore/datastore.py
  mlrun/datastore/datastore_profile.py
  mlrun/datastore/dbfs_store.py
  mlrun/datastore/google_cloud_storage.py
  mlrun/datastore/model_provider/__init__.py
  mlrun/datastore/model_provider/model_provider.py
  mlrun/datastore/model_provider/openai_provider.py
  mlrun/datastore/remote_client.py
  mlrun/datastore/s3.py
  mlrun/datastore/storeytargets.py
  mlrun/datastore/utils.py
  mlrun/datastore/v3io.py
  mlrun/package/packagers_manager.py
  mlrun/run.py
  mlrun/serving/states.py
  mlrun/utils/helpers.py
  tests/datastore/test_base.py
  tests/datastore/test_datastores.py
  tests/integration/model_providers/openai/test-openai.yml
  tests/integration/model_providers/openai/test_openai.py
  tests/serving/test_async_flow.py
  tests/system/datastore/model_providers/assets/models.py
  tests/system/datastore/model_providers/test_openai.py
  tests/system/env-template.yml
  tests/system/model_monitoring/assets/models.py
Labels: area/sdk, area/tests, area/system-tests

#8246 [Log collector] Delete logs by prefix [feature/retry-job]
  server/go/services/logcollector/logcollector_test.go
  server/go/services/logcollector/server.go
Labels: area/server

#8267 [Images] Fix ml-base deprecation check to respect image tag
  mlrun/utils/helpers.py
  tests/utils/test_helpers.py
Labels: area/sdk, area/tests

#8273 [Jobs] Merge retry jobs feature branch
  mlrun/__main__.py
  mlrun/common/constants.py
  mlrun/common/runtimes/constants.py
  mlrun/config.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/execution.py
  mlrun/launcher/base.py
  mlrun/launcher/local.py
  mlrun/launcher/remote.py
  mlrun/model.py
  mlrun/projects/operations.py
  mlrun/projects/project.py
  mlrun/runtimes/__init__.py
  mlrun/runtimes/base.py
  mlrun/runtimes/daskjob.py
  mlrun/runtimes/databricks_job/databricks_runtime.py
  mlrun/runtimes/local.py
  mlrun/utils/notifications/notification_pusher.py
  server/go/services/logcollector/logcollector_test.go
  server/go/services/logcollector/server.go
  server/py/framework/db/sqldb/db.py
  server/py/framework/rundb/sqldb.py
  server/py/framework/tests/unit/common_fixtures.py
  server/py/framework/utils/helpers.py
  server/py/services/api/api/endpoints/logs.py
  server/py/services/api/common/runtime_handlers.py
  server/py/services/api/crud/logs.py
  server/py/services/api/crud/runs.py
  server/py/services/api/launcher.py
  server/py/services/api/main.py
  server/py/services/api/runtime_handlers/base.py
  server/py/services/api/tests/unit/api/test_utils.py
  server/py/services/api/tests/unit/runtime_handlers/base.py
  server/py/services/api/tests/unit/runtime_handlers/test_kubejob.py
  server/py/services/api/tests/unit/test_launcher.py
  server/py/services/api/tests/unit/test_service.py
  tests/launcher/test_local.py
  tests/launcher/test_remote.py
  tests/projects/test_kfp.py
  tests/run/test_run.py
  tests/system/runtimes/test_kubejob.py
  tests/system/runtimes/test_notifications.py
  tests/test_execution.py
  tests/utils/test_notifications.py
Labels: area/docs, area/automation, area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests, area/pipeline-adapters, area/ci

#8276 [Serving] Fix background task model endpoint creation status check
  mlrun/config.py
  mlrun/serving/system_steps.py
  tests/common_fixtures.py
  tests/serving/test_tracking.py
Labels: area/sdk, area/tests

#8285 [Tests] Disable problematic test
  tests/datastore/test_base.py
Labels: area/tests

#8280 [Logs] Get logs from last attempt by default
  server/py/services/api/api/endpoints/logs.py
  server/py/services/api/crud/logs.py
  server/py/services/api/tests/unit/crud/test_logs.py
Labels: area/server, area/api

#8282 [Model Monitoring] Fix uses of context in system steps
  mlrun/serving/server.py
  mlrun/serving/system_steps.py
Labels: area/sdk

#8238 [Docs] Add details about run-id when creating alerts
  docs/concepts/alerts-notifications.md
  docs/concepts/alerts.md
  docs/concepts/notifications.md
Labels: area/docs

#8277 [ModelProvider] Add basic invoke messages support + test
  mlrun/datastore/model_provider/model_provider.py
  mlrun/datastore/model_provider/openai_provider.py
  mlrun/datastore/remote_client.py
  tests/integration/model_providers/openai/test_openai.py
  tests/system/datastore/model_providers/assets/models.py
Labels: area/sdk, area/tests, area/system-tests

#8289 [Jobs] Abort stale pending retry jobs
  mlrun/config.py
  server/py/services/api/main.py
  server/py/services/api/tests/unit/test_service.py
Labels: area/sdk, area/server, area/api

#8301 [Artifacts] tiny fix for llm prompt when model_artifact is a str
  mlrun/artifacts/llm_prompt.py
  tests/serving/test_async_flow.py
Labels: area/sdk, area/tests

#8288 [Docs] Add that default conda env in CE is not persistent
  docs/install/kubernetes.md
Labels: area/docs

#8292 [Model Monitoring] Add support for `V3IO` in the Function Summary API
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  server/py/services/api/api/endpoints/model_monitoring.py
  server/py/services/api/crud/model_monitoring/deployment.py
  tests/model_monitoring/test_stores/test_v3io.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8295 [Builder] Support http files
  server/py/schemas/proto/__init__.py
  server/py/services/api/tests/unit/utils/test_builder.py
  server/py/services/api/utils/builder.py
  tests/system/base.py
  tests/system/runtimes/test_archives.py
Labels: area/server, area/api, area/tests, area/system-tests

#8305 [Jobs] Add retries attempts metadata to run status
  mlrun/execution.py
  mlrun/model.py
  server/py/services/api/launcher.py
  server/py/services/api/tests/unit/test_launcher.py
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8308 [Serving] Fix import Model class in `ModelRunnerStep:init_object`
  mlrun/serving/states.py
  tests/system/runtimes/assets/function_with_llm.py
Labels: area/sdk, area/tests, area/system-tests

#8309 [Notifications] Use stable endpoint for webhook notification
  tests/system/runtimes/test_notifications.py
Labels: area/tests, area/system-tests

#8281 [Model Monitoring] Block writing out of order data in `evaluate`
  mlrun/model_monitoring/applications/base.py
  mlrun/model_monitoring/db/_schedules.py
  mlrun/model_monitoring/helpers.py
  server/py/services/api/crud/model_monitoring/model_endpoints.py
  tests/model_monitoring/db/test_schedules.py
  tests/model_monitoring/test_applications/test_base.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8307 [Tests] Fix git fork extraction
  tests/system/base.py
Labels: area/tests, area/system-tests

#8311 [Docs] Delete incorrect Python support
  docs/runtimes/images.md
Labels: area/docs

#8303 [Monitoring Applications] Expose new API to calculate the number of MEPs with detected issues over time
  mlrun/common/schemas/__init__.py
  mlrun/common/schemas/model_monitoring/__init__.py
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/schemas.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/projects/project.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/model_endpoints.py
  tests/model_monitoring/test_stores/test_v3io.py
  tests/model_monitoring/test_tdengine.py
  tests/model_monitoring/test_tsdb_connector.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8320 Revert "[Monitoring Applications] Expose new API to calculate the number of MEPs with detected issues over time (#8303)"
  mlrun/common/schemas/__init__.py
  mlrun/common/schemas/model_monitoring/__init__.py
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/schemas.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/projects/project.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/model_endpoints.py
  tests/model_monitoring/test_stores/test_v3io.py
  tests/model_monitoring/test_tdengine.py
  tests/model_monitoring/test_tsdb_connector.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8324 [Monitoring Applications] Expose new API to calculate the number of MEPs with detected issues over time
  mlrun/common/schemas/__init__.py
  mlrun/common/schemas/model_monitoring/__init__.py
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/schemas.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/projects/project.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/model_endpoints.py
  tests/model_monitoring/test_stores/test_v3io.py
  tests/model_monitoring/test_tdengine.py
  tests/model_monitoring/test_tsdb_connector.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8326 [DB] Ensure consistent system ID initialization
  server/py/services/api/initial_data.py
  server/py/services/api/tests/unit/test_initial_data.py
Labels: area/server, area/api

#8330 [Model Monitoring] Add committed offset and lag stats to function-summaries API [Kafka]
  server/py/services/api/crud/model_monitoring/deployment.py
  tests/system/model_monitoring/test_app.py
Labels: area/server, area/api, area/tests, area/system-tests

#8328 [ModelProvider] HuggingFace requirements
  dependencies.py
  dev-requirements.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  extras-requirements.txt
Labels: area/tests

#8291 [ModelProvider] Add async and custom invoke functionality, support LLModel
  .gitignore
  mlrun/config.py
  mlrun/datastore/model_provider/model_provider.py
  mlrun/datastore/model_provider/openai_provider.py
  mlrun/serving/states.py
  tests/datastore/remote_model/remote_model_utils.py
  tests/integration/model_providers/openai/test-openai-template.yml
  tests/integration/model_providers/openai/test_openai.py
  tests/serving/test_async_flow.py
  tests/system/datastore/model_providers/assets/models.py
  tests/system/datastore/model_providers/test_openai.py
Labels: area/sdk, area/tests, area/system-tests

#8336 [Serving] Fix `Model:predict` and `LLModel:predict`
  mlrun/serving/states.py
  tests/serving/test_async_flow.py
  tests/system/model_monitoring/assets/function_with_model.py
  tests/system/model_monitoring/assets/models.py
  tests/system/runtimes/assets/function-with-catcher.py
  tests/system/runtimes/assets/function_with_llm.py
  tests/system/runtimes/assets/function_with_model.py
Labels: area/sdk, area/tests, area/system-tests

#8331 [Serving] Fix invoke monitored `ModelRunnerStep` with error_handler
  mlrun/serving/server.py
  mlrun/serving/states.py
  mlrun/serving/system_steps.py
  tests/serving/test_async_flow.py
  tests/serving/test_tracking.py
  tests/system/runtimes/test_nuclio.py
Labels: area/sdk, area/tests, area/system-tests

#8293 [Model Monitoring] Fix processing ModelRunnerStep outputs
  mlrun/serving/states.py
  mlrun/serving/system_steps.py
  tests/serving/test_tracking.py
Labels: area/sdk, area/tests

#8367 [Model endpoints] Fix remove normalize function name from store, update and list model endpoints
  server/py/framework/db/sqldb/db.py
  server/py/services/api/crud/model_monitoring/model_endpoints.py
Labels: area/server, area/api, area/framework

#8368 [Services] Fix `submit_run` call
  server/py/framework/api/utils.py
  server/py/services/api/main.py
  server/py/services/api/tests/unit/test_service.py
  server/py/services/api/utils/scheduler.py
  tests/system/runtimes/test_kubejob.py
Labels: area/server, area/api, area/framework, area/tests, area/system-tests

#8357 [DB] Fix iteration over None in DB configuration utility
  mlrun/config.py
  server/py/framework/utils/db/utils.py
  server/py/services/api/migrations/tests/base/migrations_tests.py
  server/py/services/api/migrations/tests/mysql/conftest.py
  server/py/services/api/migrations/tests/mysql/test_mysql_partitions.py
  server/py/services/api/migrations/tests/mysql/test_mysql_utils.py
  server/py/services/api/migrations/tests/postgres/conftest.py
  server/py/services/api/migrations/tests/postgres/test_postgres_partitions.py
  server/py/services/api/migrations/tests/postgres/test_postgres_utils.py
  server/py/services/api/tests/unit/db/test_db_util.py
Labels: area/sdk, area/server, area/api, area/framework

#8375 [Model Monitoring] Fix MonitoringPreProcessor when the inputs/outputs contain str and int/float
  mlrun/serving/system_steps.py
  tests/serving/test_tracking.py
Labels: area/sdk, area/tests

#8377 [Model Monitoring] fix using new function `_get_obj_tag_prioritizing_user_tag`
  server/py/framework/db/sqldb/db.py
Labels: area/server, area/framework

#8363 [Model Monitoring] Forward 'batch complete' events from serving stream to controller
  mlrun/model_monitoring/stream_processing.py
Labels: area/sdk

#8365 [Model Monitoring] Implement batch event handling in the controller
  mlrun/common/schemas/__init__.py
  mlrun/common/schemas/model_monitoring/__init__.py
  mlrun/common/schemas/model_monitoring/constants.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/model_monitoring/controller.py
  mlrun/projects/project.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/services/api/api/endpoints/model_endpoints.py
  server/py/services/api/crud/model_monitoring/model_endpoints.py
  tests/common_fixtures.py
  tests/model_monitoring/test_helpers.py
  tests/system/model_monitoring/test_app.py
  tests/system/model_monitoring/test_model_monitoring.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests

#8381 [CI] Pinpoints testcontainers k3s version
  dev-requirements.txt
  tests/test_requirements.py
Labels: area/tests

#8386 [Artifacts] add has_children to minimal list format
  mlrun/common/formatters/artifact.py
Labels: area/sdk

#8389 [Serving] fix tag removal and add default to `input_path` param
  mlrun/serving/states.py
  mlrun/utils/helpers.py
  tests/system/runtimes/test_nuclio.py
  tests/utils/test_helpers.py
Labels: area/sdk, area/tests, area/system-tests

#8344 [Model Monitoring] Add evaluate naming options and checks
  mlrun/common/schemas/model_monitoring/constants.py
  mlrun/model_monitoring/api.py
  mlrun/model_monitoring/applications/base.py
  mlrun/model_monitoring/applications/results.py
  tests/model_monitoring/test_applications/test_base.py
  tests/model_monitoring/test_schemas.py
  tests/projects/test_project.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/tests, area/system-tests

#8351 [Test] Improve integration tests base
  Makefile
  mlrun/utils/logger.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/db/sqldb/models.py
  server/py/services/api/initial_data.py
  server/py/services/api/main.py
  tests/integration/conftest.py
  tests/integration/sdk_api/base.py
  tests/integration/sdk_api/run/test_main.py
  tests/rundb/test_httpdb.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests

#8359 [Docs] Add update to change log 1.9.2
  docs/change-log/index.md
Labels: area/docs
