Repository mlrun/mlrun, pull requests merged in 2025-10, with the labels that each got.

#8681 [Pipeline] - crud.list_pipelines required filter by project name only when the project is not '*'
  server/py/services/api/crud/pipelines.py
  server/py/services/api/tests/unit/crud/test_pipelines.py
Labels: area/server, area/api

#8691 [Tests] Fix load project remotely system test
  tests/system/projects/test_project.py
Labels: area/tests, area/system-tests

#8678 [Project Summaries] Project summary run counters improvements
  server/py/framework/db/sqldb/db.py
  server/py/services/api/tests/unit/api/test_projects.py
Labels: area/server, area/api, area/framework

#8664 [PR-template] Add Deprecation section
  .github/pull_request_template.md
  CONTRIBUTING.md
  DEPRECATION.md
Labels: area/docs, area/ci
