Repository mlrun/mlrun, pull requests merged in 2025-05, with the labels that each got.

#7930 [Tutorials] Clean 05-model-monitoring, including stating that evidently package is needed
  docs/model-monitoring/applications.md
  docs/tutorials/05-model-monitoring.ipynb
Labels: area/docs

#7936 [Docs] MLRun readme update logo
  README.md
Labels: area/docs

#7934 [Tests] Explicitly set project in cli build system tests
  tests/system/runtimes/test_kubejob.py
Labels: area/tests, area/system-tests

#7931 [Tutorials] Fix genai-03 demo
  docs/tutorials/genai-03-vector-db.ipynb
Labels: area/docs

#7944 [Tutorials] 05 model-monitoring: uncomment "!pip install evidently"
  docs/tutorials/05-model-monitoring.ipynb
Labels: area/docs

#7860 [ModelMonitoring] Remove deprecations
  mlrun/model_monitoring/__init__.py
  mlrun/model_monitoring/api.py
  mlrun/model_monitoring/tracking_policy.py
  mlrun/model_monitoring/writer.py
  mlrun/runtimes/nuclio/serving.py
  mlrun/serving/server.py
  tests/system/model_monitoring/test_app.py
Labels: area/sdk, area/tests, area/system-tests

#7941 [Deprecations] Remove delete_function v1 endpoint
  server/py/services/api/api/endpoints/functions.py
  server/py/services/api/tests/unit/api/test_functions.py
Labels: area/server, area/api

#7942 [Deprecations] Remove `rundb` param in `mlrun.runtimes.base.mlrun_op`
  pipeline-adapters/mlrun-pipelines-kfp-common/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-common/src/mlrun_pipelines/common/ops.py
Labels: area/pipeline-adapters

#7940 [Deprecations] Remove `uid` param in GET and DELETE artifact
  server/py/services/api/api/endpoints/artifacts_v2.py
Labels: area/server, area/api

#7938 [Application] Change default image to be resolve by client python version
  mlrun/config.py
  mlrun/utils/helpers.py
  tests/utils/test_helpers.py
Labels: area/sdk, area/tests

#7963 [Tests] Fix feature store system tests
  tests/system/feature_store/spark_hadoop_test_base.py
  tests/system/feature_store/test_spark_engine.py
Labels: area/tests, area/system-tests

#7964 [CI] Make namespace creation idempotent
  .github/workflows/system-tests-opensource.yml
Labels: area/ci

#7935 [Docs] Add parameters to Change log: deprecations in v1.7
  docs/change-log/index.md
Labels: area/docs

#7978 [Tests] Fix hadoop and spark system tests
  tests/system/feature_store/spark_hadoop_test_base.py
  tests/system/feature_store/test_spark_engine.py
Labels: area/tests, area/system-tests

#7981 [Spark] Inform user about `deploy_default_image()` API change
  docs/feature-store/using-spark-engine.md
  docs/runtimes/image-build.md
  mlrun/runtimes/remotesparkjob.py
  mlrun/runtimes/sparkjob/spark3job.py
Labels: area/docs, area/sdk

#7998 [Pipelines] Correctly encode parameters for KFP pipelines (#7994)
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/pyproject.toml
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/client.py
Labels: area/pipeline-adapters

#7996 [Requirements] Relock dependencies for v3io-py 0.7.1
  dev-requirements.txt
  dockerfiles/base/locked-requirements.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  tests/model_monitoring/test_evidently.py
Labels: area/tests

#7939 [Serving] Add Remote models (model_url support)
  mlrun/artifacts/base.py
  mlrun/artifacts/manager.py
  mlrun/artifacts/model.py
  mlrun/datastore/datastore.py
  mlrun/execution.py
  mlrun/projects/project.py
  mlrun/serving/states.py
  mlrun/serving/v2_serving.py
  tests/artifacts/test_artifacts.py
  tests/serving/test_async_flow.py
  tests/system/model_monitoring/assets/models.py
  tests/system/model_monitoring/test_model_monitoring.py
Labels: area/sdk, area/tests, area/system-tests

#7986 Revert "[Config] Increasing project limit"
  mlrun/config.py
Labels: area/sdk

#8010 [Depricatioins] Remove `labels` in `get_or_create_ctx`
  mlrun/run.py
Labels: area/sdk

#8004 [Pipelines] Bump pipeline-adapters to 0.5.4
  dockerfiles/base/locked-requirements.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-api/requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun-kfp/requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  dockerfiles/test/requirements.txt
  requirements.txt
  tests/model_monitoring/test_evidently.py
  tests/test_requirements.py
Labels: area/tests

#8014 [Deprecations] Remove `labels` param in `list_schedules`
  server/py/services/api/api/endpoints/schedules.py
  server/py/services/api/tests/unit/api/test_schedules.py
Labels: area/server, area/api

#8015 [Runs] Add retry run spec and validation [feature/retry-job]
  mlrun/config.py
  mlrun/launcher/base.py
  mlrun/launcher/local.py
  mlrun/launcher/remote.py
  mlrun/model.py
  mlrun/runtimes/__init__.py
  mlrun/runtimes/base.py
  mlrun/runtimes/daskjob.py
  mlrun/runtimes/databricks_job/databricks_runtime.py
  server/py/framework/utils/helpers.py
  server/py/services/api/launcher.py
  server/py/services/api/tests/unit/test_launcher.py
  tests/launcher/test_local.py
  tests/launcher/test_remote.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests
