Repository mlrun/mlrun, pull requests merged in 2025-09, with the labels that each got.

#8445 [Tests] Make 'bucket' mandatory in s3, azure and gcs datastore profiles
  mlrun/datastore/azure_blob.py
  mlrun/datastore/datastore_profile.py
  tests/integration/aws_s3/test_aws_s3.py
  tests/integration/azure_blob/test_azure_blob.py
  tests/integration/google_cloud_storage/test_google_cloud_storage.py
  tests/system/datastore/test_aws_s3.py
  tests/system/feature_store/spark_hadoop_test_base.py
  tests/system/feature_store/test_spark_azure.py
  tests/system/feature_store/test_spark_engine.py
  tests/system/feature_store/test_spark_gcs.py
  tests/system/feature_store/test_spark_s3.py
Labels: area/docs, area/sdk, area/server, area/api, area/framework, area/tests, area/system-tests, area/ci

#8550 [Model Monitoring] Fixed last_request wrong conversion
  mlrun/model_monitoring/controller.py
Labels: area/sdk

#8515 [ModelProvider] Add OpenAI custom tests
  mlrun/datastore/model_provider/model_provider.py
  tests/datastore/remote_model/remote_model_utils.py
  tests/integration/model_providers/openai/test_openai.py
  tests/system/datastore/model_providers/test_openai.py
Labels: area/sdk, area/tests, area/system-tests

#8539 [Model Monitoring] Fix function summaries API with `include_stats=True` when monitoring not configured
  server/py/services/api/crud/model_monitoring/deployment.py
Labels: area/server, area/api

#8512 [Model Monitoring] Add `batch_legacy` mode for old batch model endpoints
  mlrun/common/schemas/model_monitoring/constants.py
  mlrun/common/schemas/model_monitoring/model_endpoints.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/model_monitoring/api.py
  mlrun/model_monitoring/controller.py
  mlrun/projects/project.py
  server/py/framework/db/base.py
  server/py/framework/db/sqldb/db.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/model_endpoints.py
  server/py/services/api/crud/model_monitoring/model_endpoints.py
  server/py/services/api/tests/unit/db/test_model_endpoint.py
  tests/common_fixtures.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests

#8527 [HubSource] Update during init not only when url has changed
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  mlrun/common/schemas/hub.py
  requirements.txt
  server/py/services/api/initial_data.py
  tests/integration/sdk_api/hub/test_hub.py
Labels: area/sdk, area/server, area/api, area/tests

#8522 [Serving] Add a dummy stream by default to a tracked mock server
  mlrun/platforms/iguazio.py
  mlrun/runtimes/nuclio/serving.py
  mlrun/serving/server.py
  tests/serving/test_tracking.py
Labels: area/sdk, area/tests

#8532 [Docs] Edit description of param existing_data_handling
  mlrun/model_monitoring/applications/base.py
Labels: area/sdk

#8541 [ModelProvider] support HuggingFace lazy load
  mlrun/datastore/model_provider/huggingface_provider.py
  mlrun/datastore/model_provider/openai_provider.py
  tests/integration/model_providers/huggingface/test_huggingface.py
  tests/system/datastore/model_providers/test_huggingface.py
Labels: area/sdk, area/tests, area/system-tests

#8558 [Application] Ensure nuclio version when running multiple port sidecar
  mlrun/runtimes/nuclio/__init__.py
  mlrun/runtimes/nuclio/application/application.py
  mlrun/runtimes/nuclio/function.py
  tests/runtimes/test_application.py
Labels: area/sdk, area/tests

#8553 [Model Monitoring] Run app code only if `sample_df` is non-empty
  docs/model-monitoring/running-applications.md
  mlrun/model_monitoring/applications/base.py
Labels: area/docs, area/sdk

#8534 [Runs] Enhancements to preemption handling
  mlrun/k8s_utils.py
  mlrun/runtimes/base.py
  mlrun/runtimes/pod.py
  server/py/services/api/tests/unit/runtimes/base.py
  server/py/services/api/tests/unit/runtimes/test_kubejob.py
  server/py/services/api/tests/unit/runtimes/test_spark.py
  tests/runtimes/test_pod.py
Labels: area/sdk, area/server, area/api, area/tests

#8572 [Dependencies] Bump deepdiff to >=8.6.1 (exclude vulnerable 8.6.0)
  dev-requirements.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/locked-requirements.txt
  requirements.txt
  server/py/services/api/tests/unit/runtimes/test_pod.py
Labels: area/server, area/api

#8569 [Project Summaries] Open a per-thread DB session
  server/py/services/api/crud/projects.py
Labels: area/server, area/api

#8505 [Hub] HubSource should support multiple object types
  mlrun/common/schemas/hub.py
  mlrun/config.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/utils/helpers.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/hub.py
  server/py/services/api/crud/hub.py
  tests/common_fixtures.py
  tests/integration/conftest.py
  tests/integration/sdk_api/hub/test_hub.py
  tests/utils/test_helpers.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests, area/ci

#8575 [Model Monitoring] Flatten nested dict outputs before saving to v3io TSDB
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  tests/model_monitoring/test_schemas.py
Labels: area/sdk, area/tests

#8581 [Model Monitoring] Avoid invalid TDEngine query on empty endpoint list
  mlrun/model_monitoring/controller.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  tests/model_monitoring/test_tdengine.py
Labels: area/sdk, area/tests

#8586 [Datastore] Add `DatastoreProfileKafkaStream`
  docs/feature-store/sources-targets.md
  docs/install/kubernetes.md
  docs/tutorials/src/model_monitoring_utils.py
  mlrun/datastore/__init__.py
  mlrun/datastore/datastore_profile.py
  mlrun/datastore/storeytargets.py
  mlrun/model_monitoring/helpers.py
  mlrun/projects/project.py
  mlrun/serving/states.py
  server/py/services/api/crud/model_monitoring/deployment.py
  server/py/services/api/tests/unit/crud/model_monitoring/test_deployment.py
  tests/datastore/test_base.py
  tests/datastore/test_datastore_profile.py
  tests/model_monitoring/test_applications/test_base.py
  tests/model_monitoring/test_helpers.py
  tests/model_monitoring/test_stream_processing.py
  tests/model_monitoring/test_target_path.py
  tests/serving/test_tracking.py
  tests/system/env-template.yml
  tests/system/model_monitoring/__init__.py
  tests/system/model_monitoring/test_app.py
Labels: area/docs, area/sdk, area/server, area/api, area/tests, area/system-tests

#8578 [Datastore] Change S3_ENDPOINT_URL to AWS_ENDPOINT_URL_S3
  docs/install/kubernetes.md
  docs/store/datastore.md
  docs/tutorials/05-model-monitoring.ipynb
  mlrun/datastore/datastore_profile.py
  mlrun/datastore/s3.py
  mlrun/runtimes/mounts.py
  tests/runtimes/test_mounts.py
Labels: area/docs, area/sdk, area/tests

#8568 [ModelProvider] Add huggingface custom tests
  mlrun/datastore/model_provider/model_provider.py
  tests/datastore/remote_model/remote_model_utils.py
  tests/integration/model_providers/huggingface/test_huggingface.py
  tests/system/datastore/model_providers/assets/cat.jpg
  tests/system/datastore/model_providers/hf_requirements.txt
  tests/system/datastore/model_providers/test_huggingface.py
Labels: area/sdk, area/tests, area/system-tests

#8596 [CI] Prevent hangs in forked notification tests
  mlrun/utils/notifications/notification/base.py
  mlrun/utils/notifications/notification/git.py
  mlrun/utils/notifications/notification/slack.py
  mlrun/utils/notifications/notification/webhook.py
  tests/utils/test_notifications.py
Labels: area/sdk, area/tests

#8611 [CI] Fix hf requirement name
  tests/system/datastore/model_providers/hf_requirements.txt
  tests/system/datastore/model_providers/requirements_hf.txt
  tests/system/datastore/model_providers/test_huggingface.py
Labels: area/tests, area/system-tests

#8618 [CI] Fix un-formatted code files
  docs/tutorials/genai-02-model-monitor-llm.ipynb
  docs/tutorials/genai_01_basic_tutorial.ipynb
  docs/tutorials/mlflow.ipynb
Labels: area/docs

#8590 [Model Monitoring] Fix `drift-over-time` API path
  mlrun/db/httpdb.py
  mlrun/model_monitoring/helpers.py
  server/py/services/api/api/endpoints/model_endpoints.py
  server/py/services/api/api/endpoints/model_monitoring.py
Labels: area/sdk, area/server, area/api

#8625 [Docs] Delete incorrect stmt about py version
  docs/glossary.md
  docs/install.md
Labels: area/docs

#8629 [Runtimes] Inject deprecated MLRUN_DEFAULT_PROJECT for backward compatibility
  mlrun/runtimes/base.py
  server/py/services/api/tests/unit/runtimes/test_kubejob.py
Labels: area/sdk, area/server, area/api

#8622 [RemoteModels] Load hf requirements from list, instead of file
  tests/datastore/remote_model/remote_model_utils.py
  tests/system/datastore/model_providers/requirements_hf.txt
  tests/system/datastore/model_providers/test_huggingface.py
Labels: area/tests, area/system-tests

#8631 [CI] Ensure vendor images are pulled from gcr registry
  automation/system_test/prepare.py
Labels: area/automation

#8636 [Runtimes] Increase dask cluster startup time
  mlrun/config.py
Labels: area/sdk

#8603 [Graph] Add LLModel auto import
  mlrun/runtimes/nuclio/serving.py
  mlrun/serving/states.py
  tests/system/model_monitoring/assets/models.py
Labels: area/sdk, area/tests, area/system-tests

#8602 [Datastore] Handle Azure container as part of URL
  mlrun/datastore/azure_blob.py
  mlrun/datastore/utils.py
  tests/datastore/test_azure_blob_store.py
Labels: area/sdk, area/tests

#8641 [Application] Add validation error for missing project when deploying reverse proxy image
  mlrun/runtimes/nuclio/application/application.py
  tests/runtimes/test_application.py
Labels: area/sdk, area/tests

#8640 [Model Monitoring] Add generate event steps to async writer
  mlrun/model_monitoring/writer.py
  mlrun/serving/remote.py
  tests/system/alerts/test_alerts.py
  tests/system/runtimes/test_nuclio.py
Labels: area/sdk, area/tests, area/system-tests

#8645 [Serving] Fix adding LLModel import only for flow graph
  mlrun/runtimes/nuclio/serving.py
Labels: area/sdk

#8646 [Hub] Support import python module from user/default hub
  mlrun/__init__.py
  mlrun/common/schemas/hub.py
  mlrun/db/base.py
  mlrun/db/httpdb.py
  mlrun/db/nopdb.py
  mlrun/hub/__init__.py
  mlrun/hub/module.py
  mlrun/utils/helpers.py
  server/py/framework/rundb/sqldb.py
  server/py/services/api/api/endpoints/hub.py
  server/py/services/api/crud/hub.py
  tests/integration/sdk_api/hub/test_hub.py
Labels: area/sdk, area/server, area/api, area/framework, area/tests

#8648 [Serving] Fix serialization of filename spec attribute
  mlrun/runtimes/pod.py
  tests/system/runtimes/test_kubejob.py
Labels: area/sdk, area/tests, area/system-tests

#8639 [Artifacts] Remove sorting on tags when listing artifacts with specific tag
  server/py/framework/db/sqldb/db.py
  server/py/services/api/tests/unit/db/test_artifacts.py
Labels: area/server, area/api, area/framework

#8634 [Nuclio] Warn and remove code when using source archive without repo
  mlrun/runtimes/nuclio/function.py
  tests/runtimes/test_function.py
Labels: area/sdk, area/tests

#8653 [Dependencies] Refactor Makefile and requirements for Python version handling
  Makefile
  dockerfiles/constraints-py3.11.txt
  dockerfiles/constraints-py3.9.txt
  dockerfiles/gpu/locked-requirements.txt
  dockerfiles/jupyter/locked-requirements.txt
  dockerfiles/mlrun-api/locked-requirements.txt
  dockerfiles/mlrun-kfp/locked-requirements.txt
  dockerfiles/mlrun/locked-requirements.txt
  dockerfiles/test-system/locked-requirements.txt
  dockerfiles/test/Dockerfile
  dockerfiles/test/locked-requirements.txt
  dockerfiles/test/locked-requirements_3.11.txt
  requirements.txt
  tests/test_requirements.py
Labels: area/tests

#8657 [Projects] Fix race condition during project logs deletion
  server/py/services/api/crud/logs.py
Labels: area/server, area/api

#8651 [Docs] fix the genai tutorials with issues: packages missing
  docs/tutorials/genai-03-vector-db.ipynb
  docs/tutorials/genai_01_basic_tutorial.ipynb
Labels: area/docs

#8673 [Tests] Fix load project system test
  tests/system/projects/test_project.py
Labels: area/tests, area/system-tests

#8655 [KFP] Refactor list_pipelines to support all KFP versions
  automation/scripts/clean_pipelines/clean_pipelines.py
  mlrun/common/schemas/pipeline.py
  mlrun/utils/helpers.py
  pipeline-adapters/mlrun-pipelines-kfp-common/src/mlrun_pipelines/common/client.py
  pipeline-adapters/mlrun-pipelines-kfp-common/src/mlrun_pipelines/common/models.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/client.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/src/mlrun_pipelines/mixins.py
  pipeline-adapters/mlrun-pipelines-kfp-v1-8/tests/test_utils.py
  server/py/services/api/crud/pipelines.py
  server/py/services/api/crud/projects.py
  server/py/services/api/tests/unit/api/test_pipelines.py
  server/py/services/api/tests/unit/conftest.py
  server/py/services/api/tests/unit/crud/test_pipelines.py
  tests/utils/test_helpers.py
Labels: area/automation, area/sdk, area/server, area/api, area/tests, area/pipeline-adapters

#8660 [Labels] Change 'owner' label in workflow-runner pod to the actual username of the triggering user
  mlrun/runtimes/utils.py
  server/py/services/api/crud/pipelines.py
  server/py/services/api/crud/workflows.py
  server/py/services/api/tests/unit/crud/test_workflows.py
  tests/runtimes/test_utils.py
  tests/system/projects/test_project.py
Labels: area/sdk, area/server, area/api, area/tests, area/system-tests

#8680 [Model Monitoring] Fix `test_list_endpoints_mode` system test
  tests/system/model_monitoring/test_model_monitoring.py
Labels: area/tests, area/system-tests
