Repository mlrun/mlrun, changes with the owners that CODEOWNERS names for each.
All owners: @alonmr, @mlrun/platform, @liranbg, @assaf758, @quaark, @jillnogold, @rokatyy, @adamdelman, @TomerShor, @roei3000b, @yaelgen, @moranbental, @alxtkr77, @tomerm-iguazio, @gtopper, @Eyal-Danieli, @jond01, @davesh0812

zz
  mlrun/projects/project.py
  tests/projects/test_project.py
Owners: @yaelgen

test pass
  tests/system/base.py
  tests/system/model_monitoring/test_app.py
Owners: @liranbg

initial
  mlrun/model.py
Owners: @alonmr, @mlrun/platform

[Model Monitoring] Fix model monitoring system tests (#6158)
  tests/system/model_monitoring/test_model_monitoring.py
Owners: none

remove AWS install
  docs/install.md
  docs/install/aws-install.md
  docs/install/aws_values.yaml.template
  docs/install/cluster.yaml.template
  docs/install/efs-sc.yaml.template
  docs/install/iam-policies.yaml
Owners: @jillnogold

move MM content under concapts since it is relevant for both ML and gen AI
  docs/concepts/model-monitoring.md
  docs/conf.py
  docs/contents.rst
  docs/feature-store/basic-demo.ipynb
  docs/genai/deployment/genai-m-monitoring.md
  docs/model-monitoring/legacy-mm.md
  docs/runtimes/multiple-parallel-workflow.ipynb
Owners: @jillnogold, @rokatyy

[Docs] Fix extra dependancies link
  .git-blame-ignore-revs
  docs/install/remote.md
Owners: @liranbg, @jillnogold

more docs
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/stream_processing.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

typing
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/stream_processing.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

review
  docs/serving/model-api.md
Owners: @jillnogold

Update project.py
  mlrun/projects/project.py
Owners: @yaelgen

[Runtimes] Allow for deleting node selectors from function
  mlrun/runtimes/pod.py
Owners: @alonmr

[Docs] Application runtime clarifications
  docs/runtimes/application.ipynb
Owners: @jillnogold

.
  docs/runtimes/application.ipynb
Owners: @jillnogold

More related fixes
  mlrun/runtimes/pod.py
  mlrun/runtimes/sparkjob/spark3job.py
Owners: @alonmr, @gtopper

change log warn -> debug
  server/api/db/sqldb/db.py
Owners: @quaark

[Runs] Abort run from run object (#6161)
  mlrun/model.py
Owners: @alonmr, @mlrun/platform

change log logic
  server/api/db/sqldb/db.py
Owners: @quaark

.
  docs/runtimes/application.ipynb
Owners: @jillnogold

[SQLDB] Change log logic in `_delete_multi_objects` (#6166)
  server/api/db/sqldb/db.py
Owners: @quaark

.
  docs/runtimes/application.ipynb
Owners: @jillnogold

[Projects] Enforce project_setup.py returns a project object (#6160)
  mlrun/projects/project.py
  tests/projects/test_project.py
Owners: @yaelgen

[Docs] Fix extra dependancies link (#6162)
  .git-blame-ignore-revs
  docs/install/remote.md
Owners: @liranbg, @jillnogold

[Alerts] Update cached state once alert becomes active (#6150)
  server/api/crud/alerts.py
  tests/integration/sdk_api/alerts/test_alerts.py
Owners: @quaark

.
  docs/runtimes/application.ipynb
  mlrun/runtimes/nuclio/application/application.py
Owners: @jillnogold, @TomerShor

Yakoub input
  docs/concepts/alerts.md
Owners: @jillnogold

move files under src
  docs/model-monitoring/index.md
  docs/tutorials/05-model-monitoring.ipynb
  docs/tutorials/src/demo_app.py
  docs/tutorials/src/evidently_app.py
  docs/tutorials/src/model.pkl
Owners: @jillnogold

format
  docs/runtimes/configuring-job-resources.md
Owners: @jillnogold

Yakoub input
  docs/concepts/alerts.md
Owners: @jillnogold

format
  docs/runtimes/configuring-job-resources.md
Owners: @jillnogold

[Alerts] handle the created field in AlertConfig
  mlrun/alerts/alert.py
  server/api/db/sqldb/db.py
  tests/api/db/test_alerts.py
Owners: @TomerShor, @quaark

[DOCS] Update Model Serving docs (#6112)
  docs/serving/model-api.md
  docs/tutorials/03-model-serving.ipynb
Owners: @jillnogold

after review
  server/api/db/sqldb/db.py
  tests/api/db/test_alerts.py
Owners: @quaark

Fix test
  tests/api/runtimes/test_spark.py
Owners: none

[Alerts] Add support for the created field in AlertConfig (#6167)
  mlrun/alerts/alert.py
  server/api/db/sqldb/db.py
  tests/api/db/test_alerts.py
Owners: @TomerShor, @quaark

[Docs] Application runtime clarifications (#6165)
  docs/runtimes/application.ipynb
  mlrun/runtimes/nuclio/application/application.py
Owners: @jillnogold, @TomerShor

fixed create session path according changes in backend
  mlrun/genai/chains/refine.py
  mlrun/genai/client.py
Owners: @alonmr, @mlrun/platform

[Runtimes] Allow for deleting node selectors from function (#6164)
  mlrun/runtimes/pod.py
  mlrun/runtimes/sparkjob/spark3job.py
  tests/api/runtimes/test_spark.py
Owners: @alonmr, @gtopper

Extend test as suggested by @davesh0812
  tests/system/model_monitoring/test_app.py
Owners: none

add an example of application usage with serving function
  docs/runtimes/application.ipynb
Owners: @jillnogold

CODEOWNERS:

# Copyright 2024 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

######################
### Default Owners ###
######################

# The main owner of this repo is alonmr and the platform team,
# any change that won't match a specific owner will automatically be assigned to them.
# (The last match is the one that applies, keep that in mind when adding new lines)
* @alonmr @mlrun/platform

##############################################
### CI, Automation, Packaging & Test Infra ###
##############################################

# CI, automation, packaging & test infra is owned by liranbg
.dockerignore @liranbg
.git-blame-ignore-revs @liranbg
.gitignore @liranbg
conda-arm64-requirements.txt @liranbg
dependencies.py @liranbg
dev-requirements.txt @liranbg
extra-requirements.txt @liranbg
Makefile @liranbg
packages.py @liranbg
pyproject.toml @liranbg
requirements.txt @liranbg
setup.py @liranbg
.github/** @liranbg
.run/** @liranbg
automation/** @liranbg
dockerfiles/** @liranbg
tests/** @liranbg
tests/**/test_*.py # owner left empty, the tests belong to the relevant component owner, not liranbg

# administrative files are co-owned by liranbg and assaf758
.licenserc.json @liranbg @assaf758
LICENSE @liranbg @assaf758

# This CODEOWNERS file is owned by quaark
CODEOWNERS @quaark

############
### Docs ###
############

# The docs are co-owned by jillnogold (content) and rokatyy (build and deployment)
docs/** @jillnogold
CONTRIBUTING.md @jillnogold
MANIFEST.in @jillnogold
README.md @jillnogold
docs/_static/** @rokatyy
docs/_templates/** @rokatyy
docs/conf.py @rokatyy
docs/make.bat @rokatyy
docs/Makefile @rokatyy
docs/requirements.txt @rokatyy
.readthedocs.yml @rokatyy
.vale.ini @rokatyy

##################
### Deprecated ###
##################

# The examples and hack are deprecated and not owned by anyone
examples/**
hack/**

#########################
### Pipeline Adapters ###
#########################

# pipeline adapters is owned by adamdelman
pipeline_adapters/** @adamdelman

##############
### Server ###
##############

# log collector is owned by TomerShor
server/log_collector/** @TomerShor

# api framework is owned by quaark
# so quaark owns the server/api directory and all its subdirectories
# any specific file that has a different owner should be listed explicitly
server/api/** @quaark
mlrun/api/** @quaark
mlrun/common/schemas/** @quaark
mlrun/common/formatters/** @quaark

# server clients, server side runtimes and run monitoring are owned by alonmr
server/api/common/runtime_handlers.py @alonmr
server/api/utils/clients/** @alonmr
server/api/utils/runtimes/** @alonmr
server/api/runtime_handlers/** @alonmr

# scheduling is co-owned by alonmr and roei3000b
server/api/utils/scheduler.py @alonmr @roei3000b

# projects are owned by yaelgen
server/api/utils/projects/** @yaelgen
server/api/utils/clients/iguazio.py @yaelgen

# alerts, events and notifications are owned by TomerShor
server/api/utils/events/** @TomerShor
server/api/utils/notification_pusher.py @TomerShor

### Endpoints ###

# This section is divided according to the rest of the document
server/api/api/endpoints/alert** @TomerShor
server/api/api/endpoints/artifacts** @moranbental
server/api/api/endpoints/datastore** @alxtkr77 @tomerm-iguazio
server/api/api/endpoints/events** @TomerShor
server/api/api/endpoints/feature_store** @gtopper @alxtkr77
server/api/api/endpoints/grafana** @Eyal-Danieli
server/api/api/endpoints/model_endpoints** @jond01
server/api/api/endpoints/model_monitoring** @jond01 @davesh0812 @Eyal-Danieli
server/api/api/endpoints/nuclio** @gtopper
server/api/api/endpoints/pipelines** @adamdelman
server/api/api/endpoints/projects** @yaelgen
server/api/api/endpoints/run** @alonmr
server/api/api/endpoints/schedule** @alonmr @roei3000b
server/api/api/endpoints/workflows** @adamdelman

### End of Endpoints ###

### CRUD ###

# This section is divided according to the rest of the document
server/api/api/crud/alert** @TomerShor
server/api/api/crud/artifacts** @moranbental
server/api/api/crud/datastore** @alxtkr77 @tomerm-iguazio
server/api/api/crud/events** @TomerShor
server/api/api/crud/feature_store** @gtopper @alxtkr77
server/api/api/crud/notification** @TomerShor
server/api/api/crud/model_monitoring** @jond01 @davesh0812 @Eyal-Danieli
server/api/api/crud/pipelines** @adamdelman
server/api/api/crud/projects** @yaelgen
server/api/api/crud/run** @alonmr
server/api/api/crud/workflows** @adamdelman

### End of CRUD ###

#################
### MLRun SDK ###
#################

# Main orchastration SDK is owned by alonmr
mlrun/db/** @alonmr
mlrun/launcher/** @alonmr
mlrun/runtimes/** @alonmr

### Runtimes ###

# databricks runtime is owned by tomerm-iguazio
mlrun/runtimes/databricks_job/** @tomerm-iguazio

# nuclio, serving and spark runtimes are owned by gtopper
mlrun/runtimes/nuclio/** @gtopper
mlrun/runtimes/serving/** @gtopper
mlrun/runtimes/sparkjob/** @gtopper

# model serving is co-owned by gtopper and davesh0812
mlrun/runtimes/serving/*_serving.py @gtopper @davesh0812

# api gateway runtime is owned by rokatyy
mlrun/runtimes/nuclio/api_gateway.py @rokatyy

# application runtime is owned by TomerShor
mlrun/runtimes/nuclio/application/** @TomerShor

### End of Runtimes ###

# alerts, notifications and cli are owned by TomerShor
mlrun/alerts/** @TomerShor
mlrun/utils/notifications/** @TomerShor
__main__.py @TomerShor

# artifacts are owned by moranbental
mlrun/artifacts/** @moranbental

# projects are owned by yaelgen
mlrun/projects/** @yaelgen

# pipelines are owned by adamdelman
mlrun/projects/pipelines.py @adamdelman
mlrun/projects/operations.py @adamdelman

# datastore is co-owned by alxtkr77 and tomerm-iguazio
mlrun/datastore/** @alxtkr77 @tomerm-iguazio

# feature store is co-owned by gtopper and alxtkr77
mlrun/feature_store/** @gtopper @alxtkr77
mlrun/data_types/** @gtopper @alxtkr77

# model monitoring is co-owned by jond01, davesh0812 and Eyal-Danieli
mlrun/model_monitoring/** @jond01 @davesh0812 @Eyal-Danieli
mlrun/common/model_monitoring/** @jond01 @davesh0812 @Eyal-Danieli
mlrun/model_monitoring/db/tsdb/tdengine/** @Eyal-Danieli

# framewarks, packagers and trackers are owned by mle team
# mlrun/frameworks/** @mlrun/mle
# mlrun/package/** @mlrun/mle
# mlrun/track/** @mlrun/mle
