Repository mlrun/mlrun, changes with the owners that CODEOWNERS names for each.
All owners: @alonmr, @mlrun/platform, @liranbg, @assaf758, @quaark, @jillnogold, @rokatyy, @adamdelman, @TomerShor, @roei3000b, @yaelgen, @moranbental, @alxtkr77, @tomerm-iguazio, @gtopper, @Eyal-Danieli, @jond01, @davesh0812

remove create_filesystem_and_client
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

remove datastore profiel from test_large_upload
  mlrun/datastore/azure_blob.py
  tests/integration/azure_blob/test_azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

get_avg_latency
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

move upload parameters to class level
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

fix comment
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

fix comment
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

check if not df.empty
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

lint
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

comment fix
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

get_drift_status for many endpoints
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

comment fix 2
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

format
  docs/runtimes/configuring-job-resources.md
Owners: @jillnogold

start working on test_snowflake_target_in_to_dataframe
  tests/system/feature_store/test_spark_snowflake.py
Owners: none

add solution to gateway error, change order of paragraphs
  docs/concepts/nuclio-real-time-functions.ipynb
Owners: @jillnogold

typos
  docs/concepts/drift-detection-alert.ipynb
Owners: @jillnogold

get_drift_status for many endpoints
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

lint
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

lint
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

[Docs] Add updates in Notifications about `pipeline started` (#6115)
  docs/_static/images/cross-project-view.png
  docs/change-log/index.md
  docs/concepts/notifications.md
  docs/store/log-artifacts.md
Owners: @rokatyy, @jillnogold

finish test for blocking snowflake to_dataframe
  mlrun/feature_store/retrieval/job.py
  tests/system/feature_store/test_spark_snowflake.py
Owners: @gtopper, @alxtkr77

[Model Monitoring] Select only the relevant columns in V3IO TSDB query (#6149)
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  tests/model_monitoring/test_stores/test_v3io.py
Owners: @Eyal-Danieli, @jond01, @davesh0812

switch to more general error type
  mlrun/feature_store/retrieval/job.py
  tests/system/feature_store/test_spark_snowflake.py
Owners: @gtopper, @alxtkr77

frames error & split graph
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/stream_processing.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

add ExtractEndpointID as first step
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/stream_processing.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

add column to error table
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/serving/v2_serving.py
Owners: @jond01, @davesh0812, @Eyal-Danieli, @alonmr, @mlrun/platform

sync with controller's code v0.1
  mlrun/genai/actions.py
  mlrun/genai/api.py
  mlrun/genai/client.py
  mlrun/genai/config.py
  mlrun/genai/data/doc_loader.py
  mlrun/genai/schema.py
  mlrun/genai/sessions.py
Owners: @alonmr, @mlrun/platform

fix mm system test
  tests/system/model_monitoring/test_model_monitoring.py
Owners: none

add a comment about removing the replace_creds
  tests/system/model_monitoring/test_model_monitoring.py
Owners: none

fix the image
  tests/system/model_monitoring/test_model_monitoring.py
Owners: none

remove todo
  tests/integration/google_cloud_storage/test_google_cloud_storage.py
Owners: none

add "model" to folder and file names
  docs/concepts/model-monitoring.md
  docs/conf.py
  docs/contents.rst
  docs/genai/deployment/genai_serving_graph.md
  docs/model-monitoring/dashboards/iguazio-3.5.2-and-older/model-monitoring-details.json
  docs/model-monitoring/dashboards/iguazio-3.5.2-and-older/model-monitoring-overview.json
  docs/model-monitoring/dashboards/iguazio-3.5.2-and-older/model-monitoring-performance.json
  docs/model-monitoring/dashboards/model-monitoring-applications.json
  docs/model-monitoring/dashboards/model-monitoring-details.json
  docs/model-monitoring/dashboards/model-monitoring-overview.json
  docs/model-monitoring/dashboards/model-monitoring-performance.json
  docs/model-monitoring/index.md
  docs/model-monitoring/legacy-mm.md
  docs/model-monitoring/legacy-model-monitoring.ipynb
  docs/model-monitoring/model-monitoring-deployment.ipynb
  docs/model-monitoring/model-monitoring.md
  docs/model-monitoring/monitoring-models.ipynb
Owners: @jillnogold, @rokatyy

Yakoub input
  docs/concepts/alerts.md
  mlrun/common/schemas/notification.py
Owners: @jillnogold, @quaark

format
  mlrun/genai/client.py
  mlrun/genai/schema.py
Owners: @alonmr, @mlrun/platform

docs
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/stream_processing.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

clarify spark
  docs/runtimes/configuring-job-resources.md
Owners: @jillnogold

sys test
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  tests/model_monitoring/test_stores/test_v3io.py
  tests/system/model_monitoring/test_app.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

update versions
  docs/conf.py
  docs/install/kubernetes.md
Owners: @rokatyy, @jillnogold

draft1
  docs/install/aws-install.md
  docs/install/aws_values.yaml.template
  docs/install/cluster.yaml.template
  docs/install/efs-sc.yaml.template
  docs/install/iam-policies.yaml
Owners: @jillnogold

more docs + tz
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  tests/system/base.py
  tests/system/model_monitoring/test_app.py
Owners: @jond01, @davesh0812, @Eyal-Danieli, @liranbg

[Docs] Add application runtime (#6036)
  docs/concepts/functions-overview.md
  docs/concepts/nuclio-real-time-functions.ipynb
  docs/runtimes/application.ipynb
  docs/runtimes/job-function.md
  docs/runtimes/serving-function.md
  mlrun/runtimes/nuclio/application/application.py
Owners: @jillnogold, @TomerShor

CODEOWNERS:

# Copyright 2024 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

######################
### Default Owners ###
######################

# The main owner of this repo is alonmr and the platform team,
# any change that won't match a specific owner will automatically be assigned to them.
# (The last match is the one that applies, keep that in mind when adding new lines)
* @alonmr @mlrun/platform

##############################################
### CI, Automation, Packaging & Test Infra ###
##############################################

# CI, automation, packaging & test infra is owned by liranbg
.dockerignore @liranbg
.git-blame-ignore-revs @liranbg
.gitignore @liranbg
conda-arm64-requirements.txt @liranbg
dependencies.py @liranbg
dev-requirements.txt @liranbg
extra-requirements.txt @liranbg
Makefile @liranbg
packages.py @liranbg
pyproject.toml @liranbg
requirements.txt @liranbg
setup.py @liranbg
.github/** @liranbg
.run/** @liranbg
automation/** @liranbg
dockerfiles/** @liranbg
tests/** @liranbg
tests/**/test_*.py # owner left empty, the tests belong to the relevant component owner, not liranbg

# administrative files are co-owned by liranbg and assaf758
.licenserc.json @liranbg @assaf758
LICENSE @liranbg @assaf758

# This CODEOWNERS file is owned by quaark
CODEOWNERS @quaark

############
### Docs ###
############

# The docs are co-owned by jillnogold (content) and rokatyy (build and deployment)
docs/** @jillnogold
CONTRIBUTING.md @jillnogold
MANIFEST.in @jillnogold
README.md @jillnogold
docs/_static/** @rokatyy
docs/_templates/** @rokatyy
docs/conf.py @rokatyy
docs/make.bat @rokatyy
docs/Makefile @rokatyy
docs/requirements.txt @rokatyy
.readthedocs.yml @rokatyy
.vale.ini @rokatyy

##################
### Deprecated ###
##################

# The examples and hack are deprecated and not owned by anyone
examples/**
hack/**

#########################
### Pipeline Adapters ###
#########################

# pipeline adapters is owned by adamdelman
pipeline_adapters/** @adamdelman

##############
### Server ###
##############

# log collector is owned by TomerShor
server/log_collector/** @TomerShor

# api framework is owned by quaark
# so quaark owns the server/api directory and all its subdirectories
# any specific file that has a different owner should be listed explicitly
server/api/** @quaark
mlrun/api/** @quaark
mlrun/common/schemas/** @quaark
mlrun/common/formatters/** @quaark

# server clients, server side runtimes and run monitoring are owned by alonmr
server/api/common/runtime_handlers.py @alonmr
server/api/utils/clients/** @alonmr
server/api/utils/runtimes/** @alonmr
server/api/runtime_handlers/** @alonmr

# scheduling is co-owned by alonmr and roei3000b
server/api/utils/scheduler.py @alonmr @roei3000b

# projects are owned by yaelgen
server/api/utils/projects/** @yaelgen
server/api/utils/clients/iguazio.py @yaelgen

# alerts, events and notifications are owned by TomerShor
server/api/utils/events/** @TomerShor
server/api/utils/notification_pusher.py @TomerShor

### Endpoints ###

# This section is divided according to the rest of the document
server/api/api/endpoints/alert** @TomerShor
server/api/api/endpoints/artifacts** @moranbental
server/api/api/endpoints/datastore** @alxtkr77 @tomerm-iguazio
server/api/api/endpoints/events** @TomerShor
server/api/api/endpoints/feature_store** @gtopper @alxtkr77
server/api/api/endpoints/grafana** @Eyal-Danieli
server/api/api/endpoints/model_endpoints** @jond01
server/api/api/endpoints/model_monitoring** @jond01 @davesh0812 @Eyal-Danieli
server/api/api/endpoints/nuclio** @gtopper
server/api/api/endpoints/pipelines** @adamdelman
server/api/api/endpoints/projects** @yaelgen
server/api/api/endpoints/run** @alonmr
server/api/api/endpoints/schedule** @alonmr @roei3000b
server/api/api/endpoints/workflows** @adamdelman

### End of Endpoints ###

### CRUD ###

# This section is divided according to the rest of the document
server/api/api/crud/alert** @TomerShor
server/api/api/crud/artifacts** @moranbental
server/api/api/crud/datastore** @alxtkr77 @tomerm-iguazio
server/api/api/crud/events** @TomerShor
server/api/api/crud/feature_store** @gtopper @alxtkr77
server/api/api/crud/notification** @TomerShor
server/api/api/crud/model_monitoring** @jond01 @davesh0812 @Eyal-Danieli
server/api/api/crud/pipelines** @adamdelman
server/api/api/crud/projects** @yaelgen
server/api/api/crud/run** @alonmr
server/api/api/crud/workflows** @adamdelman

### End of CRUD ###

#################
### MLRun SDK ###
#################

# Main orchastration SDK is owned by alonmr
mlrun/db/** @alonmr
mlrun/launcher/** @alonmr
mlrun/runtimes/** @alonmr

### Runtimes ###

# databricks runtime is owned by tomerm-iguazio
mlrun/runtimes/databricks_job/** @tomerm-iguazio

# nuclio, serving and spark runtimes are owned by gtopper
mlrun/runtimes/nuclio/** @gtopper
mlrun/runtimes/serving/** @gtopper
mlrun/runtimes/sparkjob/** @gtopper

# model serving is co-owned by gtopper and davesh0812
mlrun/runtimes/serving/*_serving.py @gtopper @davesh0812

# api gateway runtime is owned by rokatyy
mlrun/runtimes/nuclio/api_gateway.py @rokatyy

# application runtime is owned by TomerShor
mlrun/runtimes/nuclio/application/** @TomerShor

### End of Runtimes ###

# alerts, notifications and cli are owned by TomerShor
mlrun/alerts/** @TomerShor
mlrun/utils/notifications/** @TomerShor
__main__.py @TomerShor

# artifacts are owned by moranbental
mlrun/artifacts/** @moranbental

# projects are owned by yaelgen
mlrun/projects/** @yaelgen

# pipelines are owned by adamdelman
mlrun/projects/pipelines.py @adamdelman
mlrun/projects/operations.py @adamdelman

# datastore is co-owned by alxtkr77 and tomerm-iguazio
mlrun/datastore/** @alxtkr77 @tomerm-iguazio

# feature store is co-owned by gtopper and alxtkr77
mlrun/feature_store/** @gtopper @alxtkr77
mlrun/data_types/** @gtopper @alxtkr77

# model monitoring is co-owned by jond01, davesh0812 and Eyal-Danieli
mlrun/model_monitoring/** @jond01 @davesh0812 @Eyal-Danieli
mlrun/common/model_monitoring/** @jond01 @davesh0812 @Eyal-Danieli
mlrun/model_monitoring/db/tsdb/tdengine/** @Eyal-Danieli

# framewarks, packagers and trackers are owned by mle team
# mlrun/frameworks/** @mlrun/mle
# mlrun/package/** @mlrun/mle
# mlrun/track/** @mlrun/mle
