Repository mlrun/mlrun, changes with the owners that CODEOWNERS names for each.
All owners: @alonmr, @mlrun/platform, @liranbg, @assaf758, @quaark, @jillnogold, @rokatyy, @adamdelman, @TomerShor, @roei3000b, @yaelgen, @moranbental, @alxtkr77, @tomerm-iguazio, @gtopper, @Eyal-Danieli, @jond01, @davesh0812

CODEOWNERS:

# Copyright 2024 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

######################
### Default Owners ###
######################

# The main owner of this repo is alonmr and the platform team,
# any change that won't match a specific owner will automatically be assigned to them.
# (The last match is the one that applies, keep that in mind when adding new lines)
* @alonmr @mlrun/platform

##############################################
### CI, Automation, Packaging & Test Infra ###
##############################################

# CI, automation, packaging & test infra is owned by liranbg
.dockerignore @liranbg
.git-blame-ignore-revs @liranbg
.gitignore @liranbg
conda-arm64-requirements.txt @liranbg
dependencies.py @liranbg
dev-requirements.txt @liranbg
extra-requirements.txt @liranbg
Makefile @liranbg
packages.py @liranbg
pyproject.toml @liranbg
requirements.txt @liranbg
setup.py @liranbg
.github/** @liranbg
.run/** @liranbg
automation/** @liranbg
dockerfiles/** @liranbg
tests/** @liranbg
tests/**/test_*.py # owner left empty, the tests belong to the relevant component owner, not liranbg

# administrative files are co-owned by liranbg and assaf758
.licenserc.json @liranbg @assaf758
LICENSE @liranbg @assaf758

# This CODEOWNERS file is owned by quaark
CODEOWNERS @quaark

############
### Docs ###
############

# The docs are co-owned by jillnogold (content) and rokatyy (build and deployment)
docs/** @jillnogold
CONTRIBUTING.md @jillnogold
MANIFEST.in @jillnogold
README.md @jillnogold
docs/_static/** @rokatyy
docs/_templates/** @rokatyy
docs/conf.py @rokatyy
docs/make.bat @rokatyy
docs/Makefile @rokatyy
docs/requirements.txt @rokatyy
.readthedocs.yml @rokatyy
.vale.ini @rokatyy

##################
### Deprecated ###
##################

# The examples and hack are deprecated and not owned by anyone
examples/**
hack/**

#########################
### Pipeline Adapters ###
#########################

# pipeline adapters is owned by adamdelman
pipeline_adapters/** @adamdelman

##############
### Server ###
##############

# log collector is owned by TomerShor
server/log_collector/** @TomerShor

# api framework is owned by quaark
# so quaark owns the server/api directory and all its subdirectories
# any specific file that has a different owner should be listed explicitly
server/api/** @quaark
mlrun/api/** @quaark
mlrun/common/schemas/** @quaark
mlrun/common/formatters/** @quaark

# server clients, server side runtimes and run monitoring are owned by alonmr
server/api/common/runtime_handlers.py @alonmr
server/api/utils/clients/** @alonmr
server/api/utils/runtimes/** @alonmr
server/api/runtime_handlers/** @alonmr

# scheduling is co-owned by alonmr and roei3000b
server/api/utils/scheduler.py @alonmr @roei3000b

# projects are owned by yaelgen
server/api/utils/projects/** @yaelgen
server/api/utils/clients/iguazio.py @yaelgen

# alerts, events and notifications are owned by TomerShor
server/api/utils/events/** @TomerShor
server/api/utils/notification_pusher.py @TomerShor

### Endpoints ###

# This section is divided according to the rest of the document
server/api/api/endpoints/alert** @TomerShor
server/api/api/endpoints/artifacts** @moranbental
server/api/api/endpoints/datastore** @alxtkr77 @tomerm-iguazio
server/api/api/endpoints/events** @TomerShor
server/api/api/endpoints/feature_store** @gtopper @alxtkr77
server/api/api/endpoints/grafana** @Eyal-Danieli
server/api/api/endpoints/model_endpoints** @jond01
server/api/api/endpoints/model_monitoring** @jond01 @davesh0812 @Eyal-Danieli
server/api/api/endpoints/nuclio** @gtopper
server/api/api/endpoints/pipelines** @adamdelman
server/api/api/endpoints/projects** @yaelgen
server/api/api/endpoints/run** @alonmr
server/api/api/endpoints/schedule** @alonmr @roei3000b
server/api/api/endpoints/workflows** @adamdelman

### End of Endpoints ###

### CRUD ###

# This section is divided according to the rest of the document
server/api/api/crud/alert** @TomerShor
server/api/api/crud/artifacts** @moranbental
server/api/api/crud/datastore** @alxtkr77 @tomerm-iguazio
server/api/api/crud/events** @TomerShor
server/api/api/crud/feature_store** @gtopper @alxtkr77
server/api/api/crud/notification** @TomerShor
server/api/api/crud/model_monitoring** @jond01 @davesh0812 @Eyal-Danieli
server/api/api/crud/pipelines** @adamdelman
server/api/api/crud/projects** @yaelgen
server/api/api/crud/run** @alonmr
server/api/api/crud/workflows** @adamdelman

### End of CRUD ###

#################
### MLRun SDK ###
#################

# Main orchastration SDK is owned by alonmr
mlrun/db/** @alonmr
mlrun/launcher/** @alonmr
mlrun/runtimes/** @alonmr

### Runtimes ###

# databricks runtime is owned by tomerm-iguazio
mlrun/runtimes/databricks_job/** @tomerm-iguazio

# nuclio, serving and spark runtimes are owned by gtopper
mlrun/runtimes/nuclio/** @gtopper
mlrun/runtimes/serving/** @gtopper
mlrun/runtimes/sparkjob/** @gtopper

# model serving is co-owned by gtopper and davesh0812
mlrun/runtimes/serving/*_serving.py @gtopper @davesh0812

# api gateway runtime is owned by rokatyy
mlrun/runtimes/nuclio/api_gateway.py @rokatyy

# application runtime is owned by TomerShor
mlrun/runtimes/nuclio/application/** @TomerShor

### End of Runtimes ###

# alerts, notifications and cli are owned by TomerShor
mlrun/alerts/** @TomerShor
mlrun/utils/notifications/** @TomerShor
__main__.py @TomerShor

# artifacts are owned by moranbental
mlrun/artifacts/** @moranbental

# projects are owned by yaelgen
mlrun/projects/** @yaelgen

# pipelines are owned by adamdelman
mlrun/projects/pipelines.py @adamdelman
mlrun/projects/operations.py @adamdelman

# datastore is co-owned by alxtkr77 and tomerm-iguazio
mlrun/datastore/** @alxtkr77 @tomerm-iguazio

# feature store is co-owned by gtopper and alxtkr77
mlrun/feature_store/** @gtopper @alxtkr77
mlrun/data_types/** @gtopper @alxtkr77

# model monitoring is co-owned by jond01, davesh0812 and Eyal-Danieli
mlrun/model_monitoring/** @jond01 @davesh0812 @Eyal-Danieli
mlrun/common/model_monitoring/** @jond01 @davesh0812 @Eyal-Danieli
mlrun/model_monitoring/db/tsdb/tdengine/** @Eyal-Danieli

# framewarks, packagers and trackers are owned by mle team
# mlrun/frameworks/** @mlrun/mle
# mlrun/package/** @mlrun/mle
# mlrun/track/** @mlrun/mle

Remove unneeded parameter
  tests/system/model_monitoring/test_app.py
Owners: none

desgin
  docs/runtimes/application.ipynb
Owners: @jillnogold

design 2
  docs/runtimes/application.ipynb
Owners: @jillnogold

[Model Monitoring] `enable_model_monitoring()` to redeploy following a failure (#6145)
  server/api/crud/model_monitoring/deployment.py
  tests/system/model_monitoring/test_app.py
Owners: @quaark

.
  mlrun/runtimes/nuclio/application/reverse_proxy.go
  mlrun/runtimes/remotesparkjob.py
  mlrun/runtimes/sparkjob/spark3job.py
Owners: @TomerShor, @alonmr, @gtopper

[Model Monitoring] Avoid suppressing errors in `KVStoreBase.get_last_analyzed`
  mlrun/model_monitoring/db/stores/v3io_kv/kv_store.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

create basic example
  docs/cheat-sheet.md
Owners: @jillnogold

Fix test
  tests/model_monitoring/test_helpers.py
Owners: none

[Docs] Add typical error when updating a function in Nuclio, and not in MLRun (#6116)
  docs/change-log/index.md
  docs/concepts/nuclio-real-time-functions.ipynb
Owners: @jillnogold

back to 32
  mlrun/datastore/google_cloud_storage.py
Owners: @alxtkr77, @tomerm-iguazio

review
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/stream_processing.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

review
  mlrun/model_monitoring/db/tsdb/base.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

endoints fine tuning
  docs/model-monitoring/index.md
Owners: @jillnogold

[Alerts] Handle the duplicated attributes between alert and notification
  mlrun/common/schemas/notification.py
  server/api/db/sqldb/db.py
  server/api/utils/notification_pusher.py
  tests/integration/sdk_api/alerts/test_alerts.py
  tests/utils/test_alerts.py
Owners: @quaark, @TomerShor

.
  mlrun/runtimes/nuclio/application/application.py
  mlrun/runtimes/nuclio/application/reverse_proxy.go
Owners: @TomerShor

updates
  docs/change-log/index.md
Owners: @jillnogold

few fixes
  docs/concepts/notifications.md
  docs/feature-store/sources-targets.md
  docs/store/artifacts.md
Owners: @jillnogold

syntax
  docs/concepts/notifications.md
Owners: @jillnogold

[Model Monitoring] Avoid suppressing errors in `KVStoreBase.get_last_analyzed` (#6169)
  mlrun/model_monitoring/db/stores/v3io_kv/kv_store.py
  tests/model_monitoring/test_helpers.py
Owners: @jond01, @davesh0812, @Eyal-Danieli

fixes
  docs/concepts/notifications.md
  docs/feature-store/sources-targets.md
Owners: @jillnogold

typo
  docs/store/log-artifacts.md
Owners: @jillnogold

[Application] Prevent code to function flow
  mlrun/projects/project.py
  mlrun/run.py
  mlrun/runtimes/__init__.py
  tests/runtimes/test_application.py
Owners: @yaelgen, @alonmr, @mlrun/platform

fix example
  docs/cheat-sheet.md
Owners: @jillnogold

[Model Monitoring] Prepare V3IO-tsdb tables & connector for operational data (#6163)
  mlrun/common/schemas/model_monitoring/constants.py
  mlrun/model_monitoring/db/tsdb/base.py
  mlrun/model_monitoring/db/tsdb/tdengine/tdengine_connector.py
  mlrun/model_monitoring/db/tsdb/v3io/stream_graph_steps.py
  mlrun/model_monitoring/db/tsdb/v3io/v3io_connector.py
  mlrun/model_monitoring/stream_processing.py
  mlrun/serving/v2_serving.py
  tests/system/model_monitoring/test_app.py
Owners: @quaark, @jond01, @davesh0812, @Eyal-Danieli, @alonmr, @mlrun/platform

Beginning
  .github/workflows/docs-language-linter.yaml
  Makefile
  docs/Makefile
  docs/conf.py
  docs/install/kubernetes.md
  docs/monitoring/model-monitoring.md
Owners: @liranbg, @rokatyy, @jillnogold

cr
  mlrun/runtimes/nuclio/application/application.py
Owners: @TomerShor

fix headers
  docs/cheat-sheet.md
Owners: @jillnogold

[Application] Change reverse proxy log level to info (#6171)
  mlrun/runtimes/nuclio/application/application.py
  mlrun/runtimes/remotesparkjob.py
  mlrun/runtimes/sparkjob/spark3job.py
Owners: @TomerShor, @alonmr, @gtopper

[Feature Store] Fix parsing of feature string
  mlrun/feature_store/common.py
  tests/feature-store/test_common.py
Owners: @gtopper, @alxtkr77

Add copyright notice
  tests/feature-store/test_common.py
Owners: none

fix docstring
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

save some storage_options.get
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

avoiding creating multi connections
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

few lints
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

[Docs] Add auth modes and dark site info to application
  docs/runtimes/application.ipynb
Owners: @jillnogold

comment
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

lint
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

remove hint
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

make do_connect simpler
  mlrun/datastore/azure_blob.py
Owners: @alxtkr77, @tomerm-iguazio

[Application] Default to single replica
  mlrun/runtimes/nuclio/application/application.py
Owners: @TomerShor
